[2015-10-07 07:44] justin-umesh opened #1 "Can you build for IOS as well?"

[2015-10-19 10:35] pronav commented on #1
Hi Umesh, iOS support has been implemented.

[2015-10-19 10:35] #1 closed

[2015-10-26 13:37] anshul opened #3 "Plugin doesn't work with latest cordova since jar update"
`RazorpayCheckout.open` silently fails with the new jar file.  On reverting the jar file to the old one, things work as expected.

[2015-10-26 20:16] pronav commented on #3
Thanks for reporting, we've updated the plugin according to latest jar.

[2015-11-03 21:05] #3 closed

[2016-04-16 15:37] Purus opened #7 "Issue during Cordova Compile"
I am using this plugin along with Google AdMob plugin. It seems that there is a conflict of Jar files during compilation.

[code]

The admob plugin follows the standards for dependency but not this plugin as explained in the below link.
`
https://github.com/floatinghotpot/cordova-admob-pro/issues/164`

[2016-04-16 16:32] Purus commented on #7
Issue due to another plugin. Please ignore.

[2016-04-16 16:32] #7 closed

[2016-05-11 18:28] GauravButola opened #8 "Project won't build after adding razorpay-cordova, presumably because of missing frameworks"
I'm not able to build my project after adding the plugin. Here's the stacktrace I get when I try to build the project.

[code]

[2016-05-11 18:42] GauravButola commented on #8
I've submitted a PR, which I believe fixes the issue -  https://github.com/razorpay/razorpay-cordova/pull/9

[2016-05-12 05:10] akshaybhalotia commented on #8
Thanks for bringing this problem to our notice @GauravButola. We will check the PR.

[2016-05-12 05:11] #8 closed

[2016-05-21 12:39] raoabishay opened #10 "Razorpay New UI Beta"
Can we have a separate branch for testing the new UI as shown [here](http://razorpay.com/demo)?
I am keen on trying the new UI for our app and this would also be an excellent way of identifying issues that are specific to Cordova/Ionic.

[2016-05-24 06:43] selvagsz opened #11 "Make plugin to work on browser too"
Make the plugin compatible when run on the browser platform using `cordova run browser`

[2016-05-24 07:23] pronav commented on #10
Hi Abhishay, we've rolled out new UI for test keys. Please try out and do report if you encounter any issues! Any feedback about UI is also welcome.

[2016-05-24 07:23] #10 closed

[2016-05-24 18:10] raoabishay commented on #10
Yes, the new UI appears now. Thanks much!

[2016-06-03 09:28] srkoli7 opened #12 "Error: Failed to fetch plugin https://github.com/razorpay/razorpay-cordova.git"
Unable to install plugin
Cordova v
![a9f248afb7d6db22cdd71d5852bc03ef90998c34eb3096a25a pimgpsh_fullsize_distr](https://cloud.githubusercontent.com/assets/8039158/15774754/ad4aa5ce-299b-11e6-94ef-a851c6301a9c.png)
ersion : 5.4.1

[2016-06-03 09:34] srkoli7 commented on #12
Cordova version : 5.4.1

[2016-06-03 10:39] srkoli7 commented on #12
solved this issue by adding git path to environment variables

[2016-06-03 10:39] #12 closed

[2016-06-15 05:36] vishnushelar opened #13 "This plugin is crashing on samsung note 3, but it is working on nexus 5"

[2016-06-15 05:45] akshaybhalotia commented on #13
@vishnushelar Could you provide us with some more info like crash logs?

[2016-06-15 05:50] vishnushelar commented on #13
I will try to get the logs. But function call backs are not happening in samsung note 3. [both success & failure]. App stopped working after clinking on success or failure.
This is working fine on HTC, Nexus 5, iPhone 6 &  iPhone 6 plus.

[2016-06-15 06:11] vishnushelar commented on #13
@akshaybhalotia
This is strange issue. It is working on lower version also. I have tried it on "Moto G 1st generation [Android version 4.4.4]". But not working on samsung note 3 [Android version 5]

[2016-06-15 06:25] akshaybhalotia commented on #13
@vishnushelar While we try to reproduce it on our side, please confirm if this happens for all devices with Android versions above 5? And / or whether this happens on all Samsung devices or just Note 3?

[2016-06-15 06:35] vishnushelar commented on #13
@akshaybhalotia
I have tested it on following android devices.

Nexus 5 [Android version 6.0.1]  [Working fine]
Samsung Note 4 [Android version 6.0]  [Working fine]
Moto G 1st generation [Android version 4.4.4] [Working fine]
HTC [Android version 5.0.2]  [Working fine]
Samsung Note 3 [Android version 5.0]  [Not Working]

So I think it is not working on Samsung Note 3.

[2016-06-16 05:43] vishnushelar commented on #13
@akshaybhalotia

Android Crash Log
Samsung Note 3 [Android version 5.0]

CrashLog 2.0.0(14)
Device : samsung ha3g
Build number : N900UBUEBOK1
CPU ABI : armeabi-v7a
Kernel version : 3.4.39-6263677
Firmware version : 5.0
Screen width : 1080
Screen height : 1920

r( 3197): applyOpen
06-15 22:30:16.684 D/StatusBar.NetworkController( 3197): refreshSignalCluster - setNWBoosterIndicators(false)
06-15 22:

[2016-06-16 06:22] FundEd commented on #13
I am using Marshmallow no crashing, Everything working fine. Please check your code.

[2016-06-16 06:24] vishnushelar commented on #13
I have checked my code. For me also it is working on all devices, but same code is not working on Samsung Note 3 [Android version 5.0]

[2016-06-16 06:25] FundEd commented on #13
Strange, it's native Android?

[2016-06-16 06:26] FundEd commented on #13
Have u debugged if all values are getting assigned properly?

[2016-06-16 06:30] vishnushelar commented on #13
Yes.
Following is my test result :

Nexus 5 [Android version 6.0.1] [Working fine]
Samsung Note 4 [Android version 6.0] [Working fine]
Moto G 1st generation [Android version 4.4.4] [Working fine]
HTC [Android version 5.0.2] [Working fine]
Samsung Note 3 [Android version 5.0] [Not Working]

[2016-06-16 06:36] FundEd commented on #13
Ok, seems some other issue.
It's running on main ui thread right?

[2016-06-16 06:46] vishnushelar commented on #13
Yes it is running on main ui thread. But success or failure call back is not happening on Samsung Note 3

[2016-06-16 09:04] akshaybhalotia commented on #13
@vishnushelar We've updated the plugin, could you please try with the new plugin once?

[2016-06-16 19:11] dhavalyours commented on #13
Hi,

After the screen, we go a step further but after the payment successful image, the app crashes. Following is the screenshot and logs.

![crashlog](https://cloud.githubusercontent.com/assets/1306267/16129841/66bf4db0-33bb-11e6-8ded-e957b1b1a706.jpg)

CrashLog 2.0.0(14)
Device : samsung ha3g
Build number : N900UBUEBOK1
CPU ABI : armeabi-v7a
Kernel version : 3.4.39-6263677
Firmware version : 5.0

[2016-06-17 05:14] akshaybhalotia commented on #13
@vishnushelar Any update?

[2016-06-17 05:17] FundEd commented on #13
@vishnushelar  can you show how you are grabbing the return value?

[2016-06-17 05:19] FundEd commented on #13
Razorpay Cordova plugin is the best as compared to any other PG plugin.

Works best for us.

Thumbs up to development team

[2016-06-17 05:19] vishnushelar commented on #13
@akshaybhalotia

Sorry for late reply.
Thanks for quick reply on issue.
I did "ionic state reset" & checked your updates. It is working on all the devices, but still not working on Samsung Note 3.

Following are the crash logs :

CrashLog 2.0.0(14)
Device : samsung ha3g
Build number : N900UBUEBOK1
CPU ABI : armeabi-v7a
Kernel version : 3.4.39-6263677
Firmware version : 5.0
Screen width : 1080
Scre

[2016-06-17 05:21] FundEd commented on #13
Vishnu is this Cordova plugin?

[2016-06-17 05:22] vishnushelar commented on #13
yes. I am using Cordova plugin.
It is working on all IOS & Android devices excluding Samsung Note  3 (Android 5.0)

[2016-06-17 05:24] vishnushelar commented on #13
After the fix, it is coming further one level, previously it was crashing at a previous step.
The fix has worked partially but not completely

[2016-06-17 05:24] FundEd commented on #13
Trying in emulator or real note 3

[2016-06-17 05:28] vishnushelar commented on #13
I am using real note  3

[2016-06-17 05:28] FundEd commented on #13
Then it seems problem in plugin.

[2016-06-17 05:31] vishnushelar commented on #13
Same null pointer issue has been solved in following cordova plugins. :

http://stackoverflow.com/questions/36146591/android-onactivityresult-attempt-to-invoke-virtual-method-on-a-null-object-refe

https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin/issues/365

[2016-06-17 05:32] FundEd commented on #13
Have u integrated social plugins also?

[2016-06-17 05:32] vishnushelar commented on #13
Yes

[2016-06-17 05:33] FundEd commented on #13
Ok, will wait for resolution from RPAY Team

[2016-06-20 08:48] akshaybhalotia commented on #13
We are working on it

[2016-06-22 07:54] mb-14 commented on #13
@vishnushelar Can you check if the `Don't keep activities` option is enabled in Developer options?

[2016-06-23 09:13] vishnushelar commented on #13
@mb-14 it is working when I disable "don't keep activities" option

[2016-06-23 09:37] mb-14 commented on #13
@vishnushelar The crash occurs because the Cordova Plugin activity along with the callback context gets destroyed once it goes into the background. An activity gets destroyed once it goes into the background if you have the `Don't keep activities`  option enabled. It **might** also get destroyed if you're using a low memory device. We will be releasing an update which fixes this problem soon.

If

[2016-06-24 11:00] vishnushelar opened #14 "Minor usability issue on iPhone"
After entering card details, when I clicks on of text box to hide keypad that time keypad is not going down. When keypad is visible that time pay button is not visible on screen. To click on pay button we have to scroll the screen.This issue is coming on iPhone.

Expected result : When user clicks on outside of text box that time keypad should go down. I am attaching video for reference.
[iphone b

[2016-06-27 06:42] akshaybhalotia commented on #14
Thanks for pointing out the issue @vishnushelar , we will roll out a fix for this soon. This would be an OTA update, and won't require SDK update.

[2016-06-29 09:43] akshaybhalotia commented on #14
@vishnushelar This has been fixed. Now the users get a `Done` button on the keyboard to dismiss the keyboard, as is the standard practice for iOS devices.

[2016-06-29 09:43] #14 closed

[2016-06-29 09:44] akshaybhalotia commented on #13
Closing the issue as solved, please free to reopen if there is additional info

[2016-06-29 09:44] #13 closed

[2016-06-29 13:37] vishnushelar commented on #14
@akshaybhalotia I can't see go button. Check following screen shot.

![2016-06-29](https://cloud.githubusercontent.com/assets/5018918/16454063/c5cc12f4-3e2c-11e6-9806-e06ef8347340.png)

[2016-06-29 13:41] vishnushelar commented on #14
I don't have access to open this issue. Please check above screen shot.
BTW thanks for support.

[2016-06-29 13:44] akshaybhalotia commented on #14
Not sure what is happening in your case @vishnushelar . Check my screen shots.

![simulator screen shot 29-jun-2016 7 11 15 pm](https://cloud.githubusercontent.com/assets/9196911/16454266/a2d6d9b8-3e2d-11e6-8c5b-11ee8cd10e7a.png)
![simulator screen shot 29-jun-2016 7 11 30 pm](https://cloud.githubusercontent.com/assets/9196911/16454263/a2d26be4-3e2d-11e6-843a-4c26cd6bfffa.png)
![simulator screen s

[2016-06-29 14:00] vishnushelar commented on #14
ok.
@akshaybhalotia which ios version you are using ?

[2016-06-29 14:02] akshaybhalotia commented on #14
This is iOS version 9.3, iOS SDK version 0.11.4

[2016-06-29 14:05] vishnushelar commented on #14
ok.
It is working on iOS version 9.3. But Done button is not coming on IOS 8.3

[2016-06-29 14:29] akshaybhalotia commented on #14
We'll check that

[2016-06-30 07:02] akshaybhalotia commented on #14
@vishnushelar Unfortunately, we are not able to replicate the issue even on iOS 8.3 running on Cordova project. Please refer screenshots.

<img width="765" alt="screen shot 2016-06-30 at 12 30 03 pm" src="https://cloud.githubusercontent.com/assets/9196911/16479543/b4ce961a-3ebe-11e6-84b5-ea9b2b716b11.png">

<img width="323" alt="screen shot 2016-06-30 at 12 27 48 pm" src="https://cloud.githubuserc

[2016-06-30 07:40] gnprabhurightclick commented on #14
I removed the plugin from the ionic project and then added it again. Following attached is a screenshot of the iphone 6 simulator running on iOS 9.3.
<img width="376" alt="screen shot 2016-06-30 at 1 08 04 pm" src="https://cloud.githubusercontent.com/assets/20127768/16480462/0164ee34-3ec4-11e6-8add-eb78b581668a.png">

[2016-06-30 07:46] pronav commented on #14
Can you check if "done" button appears in Safari browser while visiting [razorpay.com/demo](this page). If it does, could be something specific to your app.

[2016-06-30 08:11] akshaybhalotia commented on #14
As a work around, you could install [Keyboard plugin] (https://www.npmjs.com/package/ionic-plugin-keyboard) and use `window.cordova.plugins.Keyboard.hideKeyboardAccessoryBar(false);` to force the input accessories on keyboard.

[2016-07-15 13:00] vishnushelar opened #15 "Company icon is not visible some time"
@akshaybhalotia
Thanks for your support on previous bugs. I have got new issue. On android devices sometime company logo is not coming. Check attached screen shots. In first screen shot I can see logo in IOS device, but in second screen shot I can not see logo in android device.

![img-20160715-wa0027](https://cloud.githubusercontent.com/assets/5018918/16874961/254efffe-4aba-11e6-907b-8d1eedcdd619

[2016-07-15 13:39] pronav commented on #15
Are you using `image` option or uploading logo from dashboard? If logo is not hosted on ssl enabled domain, some phones (e.g. Redmi) block it in webviews. It has nothing to do with Razorpay. I suggest you to remove hardcoded value and just upload it on dashboard.

[2016-07-27 14:17] akshaybhalotia commented on #15
Or use base64 string, works in all cases :)

[2016-08-09 04:50] selvagsz commented on #15
@vishnushelar check your [Content Security Policy ](https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-whitelist/#content-security-policy) as well. Closing this now. Feel free to reopen if you still face any issue

[2016-08-09 04:50] #15 closed

[2016-08-09 08:34] #11 closed

[2016-10-22 07:40] vanipriya opened #18 "Wont build in Ios - Undefined symbols for architecture x86_64"
Hi,
I get the below errors while building for iOS :
`Undefined symbols for architecture x86_64:
  "_SecRandomCopyBytes", referenced from:
      +[OTPSanta randomDataOfLength:] in Razorpay(OTPSanta.o)
  "_kSecRandomDefault", referenced from:
      +[OTPSanta randomDataOfLength:] in Razorpay(OTPSanta.o)
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit cod

[2016-10-22 07:45] vanipriya commented on #18
Fixed this by adding Security Framework to the build.

[2016-10-22 07:45] #18 closed

[2016-11-21 18:34] captn3m0 opened #20 "Cardsaving not supported"
Do we support cardsaving on Cordova? If yes, we should document it better.

[2016-11-22 05:45] akshaybhalotia commented on #20
@captn3m0 This is global card saving. Should this be mentioned separately somehow?

Our platform specific docs (such as iOS or web) do not mention anything about it separately, its in the list of general features of Razorpay. Also just to be clear, no code changes are required for card saving.

[2016-12-09 14:32] kirandc opened #22 "Implementing in ionic 2 getting Cannot find name 'RazorpayCheckout'"
Hi,

I am using razorpay payment integration in my ionic 2 application. I was used in Ionic 1 it working fine.

But in ionic 2 when I build app getting this error **Cannot find name 'RazorpayCheckout'**

any one has ionic 2 integration example? This plugin work with Ionic?

[2016-12-09 21:06] selvagsz commented on #22
@kirandc Can you please provide the code snippet you used ?

[2016-12-11 08:33] akshaybhalotia commented on #22
Also, consider checking examples here: <https://github.com/razorpay/razorpay-cordova-sample-app>

[2016-12-11 21:20] karanayyana opened #23 "Cordova - Android cannot find CheckoutActivity"
Hi,

I am using razorpay payment with my cordova application. supporting iOS and Android.
after following the instructions which is fairly simple, I was able to get it working on iOS but not Android.

It looks like in Android the installation is incomplete, It throws error cannot resolve symbol with "com.razorpay.CheckoutActivity", also i could not find any .jar file related to this unlike a frame

[2016-12-11 21:37] karanayyana commented on #23
i am using android studio 2.2

[2016-12-11 22:01] karanayyana commented on #23
https://github.com/razorpay/razorpay-cordova-sample-app

I found an sample project from the above link.
after comparing I found the main.java I have and what was in the sample project is different.
However i could salvage razorpay-android.jar from the sample project, after addin it manually to my code I was able to compile.

I get this error when I launch payment. I am again clueless

 java.lang.N

[2016-12-12 04:47] kirandc commented on #22
@selvagsz thanks for replay here is my code

renewSubscription() {
    this.platform.ready().then(() => {
      this.fetchParentInfo();
      this.urlProvider.razorPayKey().subscribe((response) =>{
        var razorPayKeyResponse = response;
        var paymentOptions = {
          description: 'title',
          currency: 'INR',
          key: razorPayKey,
          amount: '50000', //Amout in Pa

[2016-12-12 09:49] selvagsz commented on #22
@kirandc Try using `ionic run browser` instead of `ionic serve`.

`ionic serve` doesn't support cordova browser plugins at the moment. See https://github.com/driftyco/ionic-cli/issues/354

[2016-12-12 09:50] selvagsz commented on #22
@kirandc Just added a sample app for ionic2 https://github.com/razorpay/razorpay-cordova-sample-app/tree/master/rzp-ionic2-example

[2016-12-12 12:53] kirandc commented on #22
@selvagsz  Thanks for the example but still I am getting error

Following step I done

1. In my application I install  cordova plugin add https://github.com/razorpay/razorpay-cordova.git --save

2. I added plugin in my package.json
[code]

3. Copy pay() action code  code from https://github.com/razorpay/razorpay-cordova-sample-app/blob/master/rzp-ionic2-example/src/app/app.component.ts and paste i

[2016-12-13 12:13] kirandc commented on #22
@selvagsz can you help on this issue.

[2016-12-14 06:37] selvagsz commented on #22
@kirandc Pardon for the delay. Was out of town for a while. I believe that the above error occurs during compile time. You should declare the `RazorpayCheckout` type for the typescript compiler to understand the object's type. Add the following line in `declarations.d.ts`

[code]

Check this commit https://github.com/razorpay/razorpay-cordova-sample-app/commit/20a8abfdbbb437c5bfc56c0d872040f936dd2

[2016-12-14 07:24] kirandc commented on #22
@selvagsz thanks for response it's work. Thanks for quick support.

[2016-12-14 07:24] #22 closed

[2016-12-30 12:35] ArunYogi opened #25 "Sample App on Ionic2 crashing with Message 'ReferenceError: RazorpayCheckout is not defined'"
Hi Team,
I wanted to integrate RazorPay payment gateway in mobile application build in Ionic2. Inorder to get a feel how it would be, I tried the sample app in [sample app repo](https://github.com/razorpay/razorpay-cordova-sample-app) ,  under folder name '**rzp-ionic2-example**'.  I am getting below error

when I click pay button. Could you please clarify how to reference RazorpayCheckout class i

[2016-12-30 13:14] selvagsz commented on #25
@ArunYogi Thanks for reporting the issue. Can you please provide some more information on how you installed & ran the app? Did you run the app on browser/android/ios platform ?

[2016-12-30 13:21] ArunYogi commented on #25
I ran in chrome browser with command.

Does environment make difference ?

[2016-12-30 13:25] selvagsz commented on #25
Please check this https://github.com/razorpay/razorpay-cordova-sample-app/tree/master/rzp-ionic2-example#important-note. Let me know if that works

[2016-12-31 07:33] selvagsz commented on #25
@ArunYogi This is not an issue with razorpay cordova plugin itself rather an issue with ionic-cli (https://github.com/driftyco/ionic-cli/issues/354) iteself. Closing this for now. Feel free to reopen/comment if I'm wrong

[2016-12-31 07:33] #25 closed

[2017-01-06 07:53] #20 closed

[2017-03-20 19:21] btdevn opened #29 "RazorpayCheckout.onResume(event) fails with method 'onResume' as being undefined"
When the cordova app resumes, as per the suggested code I am trying to bind the success and cancel functions and then pass the event object the razorpayCheckout object, and this is where it fails.

[2017-03-21 07:31] mb-14 commented on #29
@btdevn Please mail us the following details at support@razorpay.com :
- The version of our cordova plugin you are using
- Integration code
- Platform on which the error occurs

[2017-03-21 07:32] gitguru24 commented on #22
Razor pay transaction id and status are stored in local database

[2017-03-21 07:33] gitguru24 commented on #22
how to acheived the transaction details and information are stored in local database

[2017-03-21 08:10] akshaybhalotia commented on #22
Hey @gitguru24 , didn't understand your query? Do you want to save the transaction details in your device's local DB? Or have you already saved it and want to retrieve it?

[2017-03-21 08:38] gitguru24 commented on #22
save transaction details my local DB

[2017-03-21 08:50] akshaybhalotia commented on #22
You can use any of the open source tools like <https://github.com/litehelpers/Cordova-sqlite-storage> or <https://github.com/nolanlawson/cordova-plugin-sqlite-2>

[2017-04-13 11:07] divyam3897 commented on #22
hi, I am facing the same issue with my ionic2 app. I copied the code from https://github.com/razorpay/razorpay-cordova-sample-app/blob/master/rzp-ionic2-example/src/app/app.component.ts and Added the line in declarations.d.ts but still I get "Razorpay checkout is not defined".

[2017-04-13 11:11] kirandc commented on #22
@divyam3897 have added this

declare var RazorpayCheckout: any;

[2017-04-13 11:33] divyam3897 commented on #22
@kirandc yes, I added this line in src/declarations.d.ts

[2017-04-13 12:39] selvagsz commented on #22
@divyam3897 Can you provide the following details ?
1. Are you getting the error in build time or runtime ?
2. What command did you use to run the build ?

[2017-04-13 12:45] divyam3897 commented on #22
@selvagsz
1. I am getting the error during runtime.
2. "ionic serve"

[2017-04-13 12:54] selvagsz commented on #22
@divyam3897 See https://github.com/razorpay/razorpay-cordova/issues/22#issuecomment-266385143

[2017-05-09 06:36] akshaybhalotia commented on #23
This has been stagnant for a long time, hence closing. Please feel free to re-open for further discussion.

[2017-05-09 06:36] #23 closed

[2017-05-09 06:36] akshaybhalotia commented on #29
This has been stagnant for a long time, hence closing. Please feel free to re-open for further discussion.

[2017-05-09 06:36] #29 closed

[2017-05-15 18:34] techashish12 opened #33 "where to set key-secret in ionic"

[2017-05-15 18:35] techashish12 opened #34 "how to set order id in ionic to get which order has been payment"

[2017-05-15 18:40] techashish12 opened #35 "how to use signature in ionic app"

[2017-05-16 04:03] akshaybhalotia commented on #33
@techashish12 Key secret is not supposed to be present in front-end applications (website, app, anything). This should only be used to make calls from your server to our server. Please go through <https://docs.razorpay.com> for more info.

[2017-05-16 04:03] #33 closed

[2017-05-16 04:06] akshaybhalotia commented on #35
Signature is supposed to utilized by your backend. Please go through <https://docs.razorpay.com/v1/page/orders#verifying-signature> for more info.

[2017-05-16 04:06] #35 closed

[2017-05-16 04:07] akshaybhalotia commented on #34
Do you want to send Order ID in the payment request, or do you want to check which order a particular payment was against?

[2017-05-16 08:07] techashish12 commented on #34
i want to check which order a particular payment was against / open cart 2.0 api

[2017-05-16 08:16] akshaybhalotia commented on #34
@riagarg5 @mayankamencherla @ccrims0n Could you help here?

[2017-05-16 08:24] techashish12 commented on #34
actually i am using open cart 2.0 api in my project. when customer create the checkout an order id will be placed on the open cart backend and redirect to razorpay. Because there  are multiple user so i want to know that which open cart order id belongs to razor pay transaction.

[2017-05-16 08:56] techashish12 commented on #35
what in the main propose of signature it is for the payment done for the right customer (order-id)?
**i actually want to checksum for payment that the payment price in not alter via the user.is there is any way to check this.**

[2017-05-16 13:08] akshaybhalotia commented on #35
Order ID contains information about the amount. Since order is created by your server to our server, user cannot change the price.

[2017-05-17 17:02] mayankamencherla commented on #34
@techashish12 If the admin clicks on the order in the opencart backend, he will see order details on the left hand side top corner of the page. Payment method is one of the details specified in this section.

[2017-05-20 13:44] #34 closed

[2017-05-22 12:09] sk16 opened #36 "android app is not able to list in playstore for some low end mobile phones ,because of 'android.permission.RECEIVE_SMS' permission"
Hi
Because of 'android.permission.RECEIVE_SMS' permission,  android  app is not able to list in playstore (even if minSDKVersion is equal or greater than specified in android app) for some low end mobile phones . Device name :Dell tab model no-venue 7 HSPA+

Error in play store : "your device is not compatible with this version"

[2017-06-15 17:44] maheshkumargp opened #37 "success callback event not working"
Hi,
i'm trying to make a service call on success callback of razorpay but it is not working.
here is the code
           var successCallback = function (payment_id) {
           // alert('payment_id: ' + payment_id);
            PurchaseService.post({}, function (resp) {
              LocalStorage.set('songs', resp);
              Helper.storeNotes();
              $scope.cartSongs = CartService.g

[2017-06-16 05:40] akshaybhalotia commented on #37
@maheshkumargp You are mixing 2 flows. What you are trying to achieve here is https://github.com/razorpay/razorpay-cordova#legacy but the code snippet is from https://github.com/razorpay/razorpay-cordova#orders-api-flow. Please go through the README again and read about Orders API flow as mentioned.

[2017-06-16 05:40] #37 closed

[2017-07-18 13:32] subhg opened #38 "Unable to build for iOS after adding the plugin in a new ionic 3 app"
Hi there,

I am new to Ionic and we have a requirement to add payment gateway to our app where I chose Razorpay as it was easy to integrate. It works fine when running on browser but when I tried to build it for iOS it is giving the following error:

An error occurred while running cordova build ios (exit code 1):

        (truncated) ...  -fmodules-prune-interval=86400 -fmodules-prune-after=34560

[2017-07-20 06:32] akshaybhalotia commented on #38
@subhg this error is not related to our plugin, this is related to the provisioning profiles and certificates installed on your system ([reference](https://stackoverflow.com/questions/34166175/cordova-run-with-ios-error-error-code-65-for-command-xcodebuild-with-args)). Please make a Google or Stackoverflow search with this error code and you'll see a lot of suggestions / fixes for this.

[2017-07-20 06:32] #38 closed

[2017-07-20 10:17] subhg commented on #38
Hi Akshay,

The provisioning profile has already been set and it was building all fine until I added the plugin. Here's the message:

** BUILD FAILED **

        The following build commands failed:
        CompileC
        /Users/subhankar/Library/Developer/Xcode/DerivedData/ParkYouGo-dhqtmfcpjgriiidfrttcynaeksxz/Build/Intermediates/ParkYouGo.build/Debug-iphonesimulator/ParkYouGo.build/Objects-no

[2017-07-20 11:25] akshaybhalotia commented on #38
Can you try cleaning the project and derived data, then build again?

[2017-07-20 12:14] subhg commented on #38
I tried just now but the same issue. Is it due to Ionic version?

ionic info output:

global packages:

    @ionic/cli-utils : 1.5.0
    Cordova CLI      : 7.0.1
    Ionic CLI        : 3.5.0

local packages:

    @ionic/app-scripts              : 1.3.7
    @ionic/cli-plugin-cordova       : 1.4.1
    @ionic/cli-plugin-ionic-angular : 1.3.2
    Cordova Platforms               : android 6.2.3 ios 4.4

[2017-07-21 12:12] akshaybhalotia commented on #38
I don't think it could be due to that. Could you please run our Ionic 3 sample app once from [razorpay/razorpay-cordova-sample-app](https://github.com/razorpay/razorpay-cordova-sample-app) once and report issues?

[2017-08-01 20:02] pkurimella commented on #38
@akshaybhalotia I was able to reproduce the same error with ionic 1 sample.

[code]

System

    Node              : v6.11.0
    OS                : macOS Sierra
    Xcode             : Xcode 8.3.3 Build version 8E3004b
    ios-deploy        : 1.9.1
    ios-sim           : 6.0.0
    npm               : 3.10.10
    cordova        :7.0.1

[2017-08-02 09:48] akshaybhalotia commented on #38
@pkurimella We are unable to reproduce this scenario.

Also, does Ionic 3 sample work fine in your case? I ask this because earlier you had raised an issue involving Ionic 3. This could have resulted due to differences in different Ionic and Cordova versions.

[2017-08-02 09:50] akshaybhalotia commented on #38
Also, please try some suggestions listed here: https://forum.ionicframework.com/t/ionic-build-ios-plugin-errors-exit-code-65/7274

[2017-08-23 10:37] codecrab-studios opened #41 "GST Tax field"
Where do we have to send the GST tax field?

[2017-08-23 14:08] akshaybhalotia commented on #41
Hi @codecrab-studios , you always pass the final amount to us and payment is made for that much. If you want to include taxes, etc. you have to add it on your side only and pass us the final amount in `amount` field.

[2017-08-23 14:08] #41 closed

[2017-09-10 05:02] Dineshrajaa opened #42 "Losing control over the Ionic3 component after successful payment"
Hi everyone,

 Thanks for making this awesome plugin, I am developing an Ionic3 app and I have added Razorpay plugin
everything is fine(I could get the paymentID on successful transaction) but the problem is I need to verify the payment by hitting one endpoint but that is not happening, is this because of lose of control over the class??

Any help would be much appreciated!

[2017-09-13 04:38] LogicSquareTech commented on #42
Me too, facing the same problem.
Is anyone at RazorPay looking into it ?

[2017-09-13 06:44] hariramsvnit commented on #42
@Dineshrajaa Are you talking about the cases where Cordova/Ionic activity get destroyed by the android system?

[2017-09-13 07:04] Dineshrajaa commented on #42
@hariramsvnit yeah I thought the issue was something like that but with help of selva I found that issue is with callback scope so binding the success callback like this

I was able to resolve this issue..
so I am closing this issue, thanks for your support @selvagsz  and @hariramsvnit

[2017-09-13 07:04] #42 closed

[2017-09-13 11:52] devxenno opened #43 "Please Help"
$ cordova plugin add http://github.com/razorpay/razorpay-cordova.git --save
Error: Failed to fetch plugin http://github.com/razorpay/razorpay-cordova.git via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Error: cmd: Command failed with exit code 1 Error output:
npm ERR! git clone --template=C:\Users\Xenno\App

[2017-11-09 07:22] AnupNair91 commented on #43
try `cordova plugin add com.razorpay.cordova --nofetch`
it worked for me.

[2017-11-16 08:48] hariramsvnit commented on #36
@sk16 Can you please tell what is minSDKVersion of your app and device?

[2017-11-16 08:50] hariramsvnit commented on #43
Please refer the usages section for windows machine(https://github.com/razorpay/razorpay-cordova#usage).

[2017-11-16 08:50] #43 closed

[2017-11-16 08:59] sk16 commented on #36
minSDKVersion of app : 19
Device android version: 4.4

After removing 'android.permission.RECEIVE_SMS' , Device's playstore app was able to search and install the app.

[2017-11-16 09:04] hariramsvnit commented on #36
@sk16 The tab(device) doesn't have sim slots?

[2017-11-16 09:08] sk16 commented on #36
yes it has sim slots.

[2017-11-16 09:09] sk16 commented on #36
this was happening on that particular device.

[2017-11-16 09:11] hariramsvnit commented on #36
Okay, maybe this issue is related to that specific device. We also have a sample app(https://play.google.com/store/apps/details?id=com.razorpay.sampleapp&hl=en) on play store. You may try to install that on your device and see if you are able to install it or not?

[2017-11-16 09:17] sk16 commented on #36
We don't have that device . The device was of one of our client's student.

[2017-11-16 09:19] hariramsvnit commented on #36
@sk16 Okay, it looks like a device related issue, closing the issue for now. Feel free to reopen if you face the similar issue again.

[2017-11-16 09:19] #36 closed

[2017-11-18 01:24] Isaacn123 commented on #13
AM having this Error on S

Galaxy Note4 (trltetmo),
Desire 526G+ dual sim (htc_v02_dug) ,
Galaxy Note3 (hlte),
h532_a1

Samsung Galaxy Note4 (trltetmo), 3072MB RAM, Android 5.1
Report 1
java.lang.RuntimeException:

  at android.app.ActivityThread.performResumeActivity (ActivityThread.java:4032)

  at android.app.ActivityThread.handleResumeActivity (ActivityThread.java:4063)

  at android.app.Activ

[2017-11-27 06:17] Rinkuk1993 opened #45 "Razorpay subscription payment support"
Razorpay has recently launched [Subscription based payment](https://razorpay.com/subscriptions/#developers)

This option is not available in cordova plugin. Can someone please help to add the feature to plugin?

[2017-11-27 06:52] Mayur-Wadpalliwar commented on #45
@Rinkuk1993 Our subscriptions APIs needs to be called from a backend server and not from the frontend. Hence the same could not be integrated in Cordova.

You may refer out detailed documentation on subscriptions here: https://razorpay.com/docs/subscriptions/

[2017-11-27 06:52] #45 closed

[2017-11-27 06:55] pronav commented on #45
Moreover, you should be able to pass `subscription_id` in `options` just link any other SDK.

[2017-12-07 14:20] RameshkrishnanV opened #46 "iOS Build error - 'Razorpay/Razorpay.h' file not found"
fatal error: 'Razorpay/Razorpay.h' file not found
#import <Razorpay/Razorpay.h>

This is the error i'm getting when building for ios

[2017-12-07 14:24] AbhinavArora95 commented on #46
There must be some integration error at your end. Kindly refer to our sample app - https://github.com/razorpay/razorpay-cordova-sample-app.

[2017-12-07 14:24] #46 closed

[2017-12-15 09:28] mmshivukumar opened #47 "In ionic 2 mobile app after success how i can redirect to specified page ?"
Hi All,

after success payment we will get payment id to success call back function will generate the popup. but if i want to redirect it to specific page how i can redirect kindly help me to get solution.
note
nav.push(pagename) not working if we used in successcallback function

Thanks in advance

[2017-12-23 08:19] kanji-keraliya opened #48 "Unhandled promise rejection (rejection id: 1): CordovaError: Failed to fetch plugin com.razorpay.cordova via registry"
`(node:19384) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): CordovaError: Failed to fetch plugin com.razorpay.cordova via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Error: cmd: Command failed with exit code 1 Error output:
'sh' is not recognized as an internal or external

[2017-12-27 19:36] Foxbelly opened #49 "Using Order Api not getting "signature" in return after Success"
I am using Test mode of Integration. I am passing order_id in the options but not getting signature to verify after success callback.

[2017-12-28 06:18] hariramsvnit commented on #49
Please go through the Orders API doc(https://docs.razorpay.com/page/orders#section-checkout-on-android), you need to implement `PaymentResultWithDataListener` interface for receiving signature.

[2017-12-28 06:18] #49 closed

[2017-12-28 09:08] Foxbelly commented on #49
Hi,
I am using cordova not native Andriod. So kindly provide the solution for the Cordova SDK.

[2017-12-28 09:13] hariramsvnit commented on #49
In case of Cordova, if you are passing `order_id` then it will return signature also. Can you log the response you are receiving and provide it to me to cross check?

[2017-12-28 09:24] Foxbelly commented on #49
Hi,
I am passing payment_capture: 1 at the time of creating the order and passing order_id at the time of payment. But in the success callback i am receiving response as pay_***** but not a json with the signature.

[2017-12-28 12:32] hariramsvnit commented on #49
Can you please conform the platform? ios, android or browser?

[2017-12-28 13:00] Foxbelly commented on #49
Hi,
Platform is Android but not native. I am using Ionic framework which uses Cordova. I have implemented the call as mentioned in the README.

[2018-01-02 04:43] kanji-keraliya commented on #48
Does anyone maintain this git or not?

[2018-01-02 04:54] pronav commented on #48
what was the command that you issued?

[2018-01-02 05:00] pronav commented on #48
Are you using windows? I think post-install script fails because `sh` executable is not found on your system. That is used to download ios related files necessary for plugin to function. I suppose we can skip that part for windows. We'll update once that's done.

[2018-01-02 05:39] kanji-keraliya commented on #48
I am using windows 10
I need it for android

I tried both one
cordova plugin add com.razorpay.cordova --save
and
ionic cordova plugin add com.razorpay.cordova --save

[2018-01-10 15:25] suvajit opened #51 "npm install error for ios"
Node version : 9.3.0_1
Receive following error on npm install on my Ionic project :
LII-RLM-013:moblit-application suvajit$ npm install

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   314  100   314    0     0    990      0 --:--:-- --:--:-- --:--:--  3609
Archive:  ./Razorpay.frame

[2018-01-12 08:05] AbhinavArora95 commented on #51
Hi, the link had an issue. Apologies for the inconvenience. Now it shall be working.

[2018-01-12 08:05] #51 closed

[2018-01-28 23:34] AnthonyKot commented on #48
Hello. The same issue here, any updates?

[2018-01-29 09:25] pronav commented on #48
@AnthonyKot this has been fixed. If you still face the same error, please run it in [git shell](https://git-scm.com/downloads) instead of `cmd`

[2018-02-13 09:21] pushpendra-jaypore commented on #47
Store previous **this** to a variable like this
let vm=this;
then call razorpay

RazorpayCheckout.on('payment.success', (payment_id) => {
   vm.nav.push(pagename)
});

Hope this will help you :)

[2018-02-13 09:24] pushpendra-jaypore opened #52 "How to capture payment on success callback"
Please help me how to capture payment when success call back return or any other optional parameter require to pass

[2018-03-06 04:35] merajulhasan opened #54 "rzp-ionic3-example is not running."
I have declared the "RazorpayCheckout" variable in declaration.d.ts but it is still throwing error "ReferenceError: RazorpayCheckout is not defined" I have tried to import this in the sample but in that case this didn't found by transpiler. I have to integrate it in my iOS and Android app. So kindly let me know the solution of the problem. I have seen so many posts regarding this but nothing is wo

[2018-03-06 06:50] hariramsvnit commented on #54
@merajulhasan Please send your integration files to `support@razorpay.com`. I will look into it.

[2018-04-21 07:09] mukulpatlan opened #60 "Cordova Razorpay 1.3.7 crashes on IOS"
Xcode giving me the error below and crashes the app while building using v1.3.7.

[code]

I am using Ionic 3 for the project. It is working fine with Android but IOS seems to be the issue.

cli packages: (/usr/local/lib/node_modules)

    @ionic/cli-utils  : 1.19.1
    ionic (Ionic CLI) : 3.19.1

global packages:

    cordova (Cordova CLI) : 7.1.0

local packages:

    @ionic/app-scripts : 3.1.8

[2018-04-23 05:32] iThink32 commented on #60
Ok , follow these steps :-

1) Clean your derived data
2) Add the razorpay framework from
YOUR_PROJECT_DIR/plugins/com.razorpay.cordova/src/ios/Razorpay.framework
 to your embedded binaries phase.
3) In build settings make sure that you have set Always Embed Swift Standard Libraries to yes.
4) Run

[2018-05-03 06:46] avinashkgit opened #62 "'Razorpay/Razorpay.h' file not found"
I am using razor pay in ionic. Its working fine with android. But showing this error ('Razorpay/Razorpay.h' file not found) on IOS

[2018-05-03 07:55] iThink32 commented on #62
I have just checked it from my end and it is working fine , I think there is something wrong in the way you are integrating it , can you tell me in brief about your integration steps ?

[2018-05-03 07:57] iThink32 commented on #60
closing due to inactivity , reopen if issue persists.

[2018-05-03 07:57] #60 closed

[2018-05-03 07:59] #48 closed

[2018-05-03 09:03] avinashkgit commented on #62
steps:
1) executed this command
cordova plugin add com.razorpay.cordova@1.3.6 --save

2) then
implemented as in
https://github.com/razorpay/razorpay-cordova

3) executed command
ionic cordova build android       (working fine)

4) excuted
ionic cordova build ios --prod

5) made a zip file of ios folder in flatforms

6) sent it to MAC

7) Extracted it.

8) Opened it via Xcode.

9) Tried to run it a

[2018-05-04 05:24] iThink32 commented on #62
ok did you execute the project or the workspace file?

[2018-05-04 05:55] avinashkgit commented on #62
workspace file

[2018-05-04 07:54] iThink32 commented on #62
Im not very sure about the fourth step you are executing , I believe it is to run a production scheme right?

can you directly try opening the iOS project from the platforms folder and building it?

[2018-05-04 08:48] avinashkgit commented on #62
yes... i made a zip of the platform>ios folder and copied it to mac unzipped it. Then in the XCODE imported as new project and selected the workspace file. After which i am getting this error

[2018-05-04 09:33] iThink32 commented on #62
ok Avinash just have a look at the way the sample ionic project has been integrated , it is working fine on our end , if the issue still persists please let me know.

[2018-05-04 10:03] avinashkgit commented on #62
yes i am checking and will let you know

[2018-05-14 07:06] iThink32 commented on #62
closing due to inactivity.Reopen if the issue still persists

[2018-05-14 07:06] #62 closed

[2018-05-25 17:55] Nishil20 opened #69 "This plugin not working for Ionic IOS."
I'm trying to implement razorpay checkout in my ionic application using Razorpay-cordova. After installing this plugin, ios application gets stuck on its splash screen and then gets close. Although this plugin works perfectly on Android and browser platforms.

I have done following basic steps:

Started a blank app - `ionic start myApp sidemenu`

Added an ios platform - `ionic cordova platform add

[2018-06-02 10:54] naveenyagati commented on #54
Having the same issue

[2018-06-13 07:11] iThink32 commented on #47
Closing due to inactivity.

[2018-06-13 07:11] #47 closed

[2018-06-13 07:11] iThink32 commented on #54
closing due to inactivity.

[2018-06-13 07:11] #54 closed

[2018-06-15 09:07] iamravisankar opened #72 "not worked on mobile browsers and pwa"
ERROR ReferenceError: RazorpayCheckout is not defined
    at l.pay (main.js:1)
    at l.placeorder (main.js:1)
    at Object.handleEvent (main.js:1)
    at Object.handleEvent (vendor.js:1)
    at Object.handleEvent (vendor.js:1)
    at It (vendor.js:1)
    at vendor.js:1
    at HTMLElement.<anonymous> (vendor.js:1)
    at t.invokeTask (polyfills.js:3)
    at Object.onInvokeTask (vendor.js:1)
(anon

[2018-06-18 15:37] Basavaraj-Tanikedar commented on #18
I'm getting same error in xcode 9.4, please anyone help me

[2018-06-23 06:42] warlockdn opened #73 "Issue while calling - RazorpayCheckout is not defined (Min SDK Ver. -19 issue)"
* **Common to Both platforms :-**

  - [x] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [x] I have cleaned my project.

First of all while creating a build

[2018-06-23 06:59] warlockdn commented on #73
Can your plugin be updated to use updated sdk of v19 ?

[2018-06-26 05:37] krngd2 commented on #42
What is the issue with callback scope ? How to solve this?

[2018-06-26 06:32] hariramsvnit commented on #42
@krngd2 If you want to call any method from the callback function, then you need to bind the callback with the class which contains that method. You can do it, like this
`successCallback.bind(this)`

[2018-06-27 06:34] iThink32 commented on #72
can you provide more details?

[2018-06-27 09:41] hariramsvnit commented on #73
@warlockdn We have updated min SDK version to 19 in our SDK, your app's min SDK version is 16, so you are facing this error. Please update min SDK version in your app to 19.

[2018-06-27 09:41] #73 closed

[2018-06-27 17:16] iamravisankar commented on #72
it works on android,ios, cordova run browser . but when i upload www folder to server  and open url on mobile chrome it shows an error " ERROR ReferenceError: RazorpayCheckout is not defined"

[2018-06-28 06:31] hariramsvnit commented on #72
@iamravisankar Please make sure, you have uploaded all required folders.

[2018-07-26 05:48] vibinflogesoft commented on #72
Any one integrated reazorpay with ionic3,I have same issue ReferenceError: RazorpayCheckout is not defined

[2018-07-26 06:17] iThink32 commented on #72
@vibinflogesoft is it working on the Cordova browser as in when you execute the run command on terminal?

[2018-07-26 06:35] vibinflogesoft commented on #72
Hi IThink32,Iam testing it on device.The sample app works me perfectly.But I created a new app in which installed the razorpay cordova plugin using cordova plugin add https://github.com/razorpay/razorpay-cordova.git  and integrated the same code [](https://github.com/razorpay/razorpay-cordova)
Can u help me to fix the issue? still have Razorpay checkout not defined issue.I also created a file in s

[2018-07-26 06:37] iThink32 commented on #72
hey @vibinflogesoft please refer this integration video , if it still doesn't work ill help you out .

The link is

https://razorpay.com/docs/ios/integration-videos/

watch the video named Integrating the SDK on Cordova-based Application#

[2018-07-26 06:40] vibinflogesoft commented on #72
@iThink32
ERROR ReferenceError: RazorpayCheckout is not defined

[2018-07-26 06:41] iThink32 commented on #72
yes @vibinflogesoft what i'm trying to say is watch the video above and check if you followed all the steps , you might be missing something very minor.If you still face an issue ill help you fix it.

[2018-07-26 06:48] vibinflogesoft commented on #72
Hi @iThink32 saw the video,but iam integrating on android not ios

[2018-07-26 06:50] vibinflogesoft commented on #72
Hi @iThink32 this is my code
pay() {
    var options = {
      description: 'Credits towards consultation',
      image: 'https://i.imgur.com/3g7nmJC.png',
      currency: 'INR',
      key: 'rzp_test_1DP5mmOlF5G5ag',
      amount: '5000',
      name: 'foo',
      prefill: {
        email: 'pranav@razorpay.com',
        contact: '8879524924',
        name: 'Pranav Gupta'
      },
      theme: {

[2018-07-26 06:51] iThink32 commented on #72
@vibinflogesoft It is not related to the code you have written it is an integration issue.That is why im requesting you to please watch the video and backtrack your integration steps.

[2018-07-26 06:52] iThink32 commented on #72
if you still can't fix it then ill help you.

[2018-07-26 06:56] vibinflogesoft commented on #72
@iThink32 video is showing in ios integration,so how can i integrate it with ionic.Are the steps are same?

[2018-07-26 06:58] iThink32 commented on #72
@vibinflogesoft  Ionic is based on Cordova so I believe it is the same , you can also cross check with our sample app in the repo with the code that you are trying.

[2018-07-26 07:01] vibinflogesoft commented on #72
@iThink32 The sample app works fine,but what is the error is my app?
I think this is something related with the plugin issue.
Steps i have done in integration.
1.installed razorpay cordova plugin from the repo
2.integrated the code as in repo
error is reference error thats y iam doubted that is it a plugin issue?

[2018-07-26 07:02] iThink32 commented on #72
@vibinflogesoft if the sample app is working fine then it is not a plugin issue , it is an issue with the way you are integrating it , follow the exact same steps as shown in the video and try again.

[2018-07-26 07:04] vibinflogesoft commented on #72
okey,let me try

[2018-07-26 07:09] vibinflogesoft commented on #72
@iThink32 The reference error fixed ,now i got an alert the id provided does not exist
Is that the order id?

[2018-07-26 07:23] iamravisankar commented on #72
I  mistakly upload www folder so i got error, now i upload platfom/browser/www it works fine.

[2018-08-16 07:11] iThink32 commented on #72
We have not taken this up and is not on our priority list as of now.

[2018-09-18 13:12] vaibhav571 opened #78 "dyld: Symbol not found: __T0BOWV (Xcode 10, iOS 12)"
We are getting this error when trying to run the app on iPhoneX with iOS 12 and Xcode version 10:

dyld: Symbol not found: __T0BOWV
  Referenced from: /private/var/containers/Bundle/Application/7C864AAE-DDC5-4F4D-9982-CA047BC0ECDF/DemoApp.app/Frameworks/Razorpay.framework/Razorpay
  Expected in: /private/var/containers/Bundle/Application/7C864AAE-DDC5-4F4D-9982-CA047BC0ECDF/DemoApp.app/Frameworks/

[2018-09-18 13:20] iThink32 commented on #78
Hey @vaibhav571 ,
   Xcode 10 is supports Swift 4.2 and our latest framework is built on Swift 4.1 , please wait for our latest release which will be on 28th sep

[2018-09-19 18:35] Mushaqdeen-J opened #79 "Phonegap build iOS app close while launch an application"
Hello,
     Thanks for this great plugin, I am using Adobe PhoneGap build to build an Android and iOS app in a single source as per the Cordova structure.

     I am using this Razorpay Cordova plugin into my mobile application, so I have include this plugin in my config.xml file as follows
`<plugin name="com.razorpay.cordova" spec="https://github.com/razorpay/razorpay-cordova.git" />`

     Then

[2018-09-20 06:59] iThink32 commented on #79
@Mushaqdeen-J Hey as far as I know phone gap integration is very similar to Cordova's integration , ill share a video with you please watch it and replicate.

https://razorpay.com/docs/ios/integration-videos/#integrating-the-sdk-on-cordova-based-application

[2018-09-20 07:00] iThink32 commented on #72
closing due to inactivity

[2018-09-20 07:01] iThink32 commented on #52
closing due to inactivity.

[2018-09-20 07:01] #52 closed

[2018-09-20 14:09] KalpeshTalkar commented on #78
Is there any workaround to solve this for now?

[2018-09-20 14:12] iThink32 commented on #78
@KalpeshTalkar Please reopen issues before commenting.Anyway yes you have to use Xcode 9.4.1

[2018-09-21 05:28] Mushaqdeen-J commented on #79
Hi,
Thanks for your reply in phonegap we are not using Xcode to write a code we have to manage everything in our config.xml file. Is there any option to configure this iOS in config.xml file

[2018-09-21 06:36] iThink32 commented on #79
well @Mushaqdeen-J how are you able to build the app without Xcode? Even though you might not be using it , phone-gap may be internally using it.Can you check and let me know?

[2018-09-21 16:49] Mushaqdeen-J commented on #79
Hi, I am using Phonegap cloud to get the APK and IPA files

[2018-09-24 07:03] patwaswapnil commented on #78
Please fix this ASAP. My app is stopped working because of this error.

[2018-09-24 10:50] iThink32 commented on #78
@patwaswapnil how is this possible? it does cause any problem on live apps , can you please recheck and let me know where is it crashing?

[2018-09-25 13:57] patwaswapnil commented on #78
I meant the app on which I am currently working on. I can't build IPA as I have updated my Xcode.

[2018-09-28 10:16] dxmari commented on #78
Hai folk, Am waiting for that latest release, may I know when you are updating the razorpay plugin to support Xcode 10 version??

[2018-10-03 07:31] vaibhav571 commented on #78
Can you please tell me when the RazorPay team is going to wake up and send the update for the same. iOS betas have been out for more than 6 months and you are still not ready with an update for your plugin. It's really a shame for a company which claims to be India's best payment gateway. Please update with the status ASAP.

[2018-10-03 07:31] vaibhav571 commented on #78
Can you please tell me when the RazorPay team is going to wake up and send the update for the same. iOS betas have been out for more than 6 months and you are still not ready with an update for your plugin. It's really a shame for a company which claims to be India's best payment gateway. Please update with the status ASAP.

[2018-10-03 07:32] vaibhav571 commented on #78
Can you please tell me when the RazorPay team is going to wake up and send the update for the same. iOS betas have been out for more than 6 months and you are still not ready with an update for your plugin. It's really a shame for a company which claims to be India's best payment gateway. Please update with the status ASAP.

[2018-10-03 08:00] iThink32 commented on #78
@dxmari it is already released

[2018-10-03 08:06] iThink32 commented on #78
@vaibhav571 we read your comment , we had released it on September 28th as planned and mentioned , I would request you to understand that Xcode 10 came out on September 17 and we released our framework on 28th September , please be a little considerate.

https://developer.apple.com/news/releases/

[2018-10-16 02:42] santu-git opened #85 "Build issue for iOS"
XCode Version - 10.0 (10A255)
Razor pay package version - com.razorpay.cordova@1.3.6

I am getting following error in ios

**dyld: Symbol not found: __T0BOWV
  Referenced from: /Users/santu/Library/Developer/CoreSimulator/Devices/12128650-76DA-4949-9117-126FB8551C8F/data/Containers/Bundle/Application/4D60BD12-B924-443B-B490-C0D4319BD1E1/ilovecycling.app/Frameworks/Razorpay.framework/Razorpay
  Exp

[2018-10-16 06:48] iThink32 commented on #85
@santu-git add Razorpay framework in both embedded libraries and linked framework section.
Check the integration videos for help

https://razorpay.com/docs/ios/integration-videos/

[2018-10-24 13:29] harshvora12 opened #86 "Cant add the plugin."
Running the command: cordova plugin add com.razorpay.cordova --save
gives error:
Failed to fetch plugin git+https://github.com/razorpay/razorpay-cordova.git via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Failed to get absolute path to installed module

This didnt happen before, this has happened only now t

[2018-10-24 13:51] iThink32 commented on #86
can you try npm update?

[2018-10-24 13:59] harshvora12 commented on #86
I tried, But no luck still the same error.
When i try to add platform ios:
Discovered plugin "com.razorpay.cordova" in config.xml. Adding it to the project
Failed to restore plugin "com.razorpay.cordova" from config.xml. You might need to try adding it again. Error: Failed to fetch plugin git+https://github.com/razorpay/razorpay-cordova.git via registry.
Probably this is either a connection proble

[2018-10-24 14:06] iThink32 commented on #86
I've just tried integrating it on a fresh app and it is working fine , I suggest you to also do the same and see what are you missing out on your main project , npm update also works fine for me.

[2018-10-26 06:09] subbu-nama commented on #85
Hi,

     Iam getting the following issue. can you guys help on this.

/Users/AppInteract/src/AiPlatform/AiGenerator/1bf90207-234f-417b-8c8f-5c93618a0b9a/platforms/ios/360 Driving School/Plugins/com.razorpay.cordova/Razorpay/Main.m:3:21: error: cannot find protocol
      declaration for 'RazorpayPaymentCompletionProtocolWithData'
@interface Main () <RazorpayPaymentCompletionProtocolWithData, Exter

[2018-10-26 07:11] iThink32 commented on #85
@subbu-nama replace import <Razorpay/Razorpay.h> with import <Razorpay/Razorpay-Swift.h> in your main.m file

[2018-10-29 05:07] NimaiUser commented on #85
I am getting this error while run the cordova iOS project

[2018-10-30 11:02] diksha-94 opened #87 "Uncaught DOMException: Blocked a frame with origin "https://api.razorpay.com" from accessing a cross-origin frame"
I am facing **Uncaught DOMException: Blocked a frame with origin "https://api.razorpay.com" from accessing a cross-origin frame in cordova android app**.
I have gone through the README(https://github.com/razorpay/razorpay-cordova)
Installed plugin **com.razorpay.cordova** .

Content-Security-Policy in my app is
<meta http-equiv="Content-Security-Policy" content="default-src * 'self' data: gap: htt

[2018-10-31 09:21] NimaiUser commented on #85
I already add those. Still I am facing the same issue.
![screenshot 2018-10-31 at 2 47 08 pm](https://user-images.githubusercontent.com/20452525/47778230-6b128a00-dd1c-11e8-8e3b-355746363f55.png)
![screenshot 2018-10-31 at 2 47 22 pm](https://user-images.githubusercontent.com/20452525/47778231-6b128a00-dd1c-11e8-8108-7d1dd95a1505.png)
![screenshot 2018-10-31 at 2 50 30 pm](https://user-images.gith

[2018-10-31 09:52] iThink32 commented on #85
@NimaiUser which Xcode version are you using?

[2018-10-31 09:58] NimaiUser commented on #85
9.4.1

[2018-10-31 09:59] iThink32 commented on #85
@NimaiUser did you go through the readme? it is clearly mentioned that we this framework is meant for Xcode 10 and above.Please go through the readme for further clarifications.

[2018-10-31 10:00] NimaiUser commented on #85
Okay. Let me check

[2018-10-31 11:38] iThink32 commented on #85
👍

[2018-10-31 11:38] #85 closed

[2018-10-31 11:39] iThink32 commented on #86
closing due to inactivity.

[2018-10-31 11:39] #86 closed

[2018-11-05 09:07] neha3018 opened #88 "Getting dyld: Symbol not found: __T0BOWV on integrating razorpay cordova sdk in Xcode 10"
I am getting Error  `dyld: Symbol not found: __T0BOWV`
Referenced from: /private/var/containers/Bundle/Application/7C864AAE-DDC5-4F4D-9982-CA047BC0ECDF/App.app/Frameworks/Razorpay.framework/Razorpay
Expected in: /private/var/containers/Bundle/Application/7C864AAE-DDC5-4F4D-9982-CA047BC0ECDF/App.app/Frameworks/libswiftCore.dylib
in /private/var/containers/Bundle/Application/7C864AAE-DDC5-4F4D-9982-

[2018-11-06 08:03] neha3018 commented on #88
Any help please?

[2018-11-07 06:33] iThink32 commented on #88
@neha3018 add razorpay framework to embedded libraries section along with linked libraries

[2018-11-08 08:40] neha3018 commented on #88
@iThink32 I had already added razorpay framework to embedded libraries and watched your integration videos....
I had done all the steps and searching for resolutions till now. But none work for me.

[2018-11-08 12:56] neha3018 commented on #88
Yes, I am using the latest framework version only. I had also used the previous versions which was working fine and there were no such issue. But for some other project I am using the latest framework, which is giving this error.

[2018-11-08 13:02] iThink32 commented on #88
@neha3018 ok , can you give me you Skype id so that we can have a Skype call tomorrow?

[2018-11-12 05:10] #88 closed

[2018-11-13 06:35] ShaileshBhatNP commented on #25
Remember to add below lines to **_package.json_** file to clear the above bug

`"scripts": {`
   `"start": "ionic-app-scripts serve",`
    `"clean": "ionic-app-scripts clean",`
    `"build": "ionic-app-scripts build",`
    `"lint": "ionic-app-scripts lint",`
    `"ionic:build": "ionic-app-scripts build",`
    `"ionic:serve": "ionic-app-scripts serve --sourceMap source-map --iscordovaserve --wwwDir

[2018-11-13 06:36] ShaileshBhatNP commented on #22
Remember to add below lines to **_package.json_** file to clear the above bug

`"scripts": {`
   `"start": "ionic-app-scripts serve",`
    `"clean": "ionic-app-scripts clean",`
    `"build": "ionic-app-scripts build",`
    `"lint": "ionic-app-scripts lint",`
    `"ionic:build": "ionic-app-scripts build",`
    `"ionic:serve": "ionic-app-scripts serve --sourceMap source-map --iscordovaserve --wwwDir

[2018-11-13 07:09] iThink32 commented on #25
@ShaileshBhatNP thanks.

[2018-11-17 03:18] pkumar-uk opened #89 "android.permission.RECEIVE_SMS"
Google is restricting which apps can request Call Log and SMS permissions. And Razorpay plugin is having android.permission.RECEIVE_SMS.
Will the plugin work if this is removed.
Please advice if you are changing plugin to adhere to Google policy or if thee are work arounds

[2018-11-19 07:00] sumedht commented on #89
After removing permission it will not auto read SMS on the transaction.
We are updating our plugin according to Google Play policy and will roll-out an update before this month end.

[2018-11-28 13:41] vignesh-d commented on #22
TS2304: Cannot find name 'externalWalletCallback'. for adding paytm wallet into it.

[2018-12-02 01:41] pkumar-uk commented on #89
Any Updates?

[2018-12-02 13:19] nssundar commented on #86
I am facing the same issue on MacOS High Seirra with Xcode 10.1. Details of the config below.
Node - v8.9.3
Ionic - v3.20.0
Cordova - v8.1.2

I am trying to add the iOS platform for an existing project (that works with Android). When I try to add the iOS platform I get the issue. I get the same error when I try to do a plugin add using "cordova plugin add com.razorpay.cordova --save"

[2018-12-03 03:04] nssundar opened #90 "Not able to add the plugin for iOS"
* **Common to Both platforms :-**

  - [X ] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [X ] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [X ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [X ] I have cleaned my project.

* **Specific to iOS Users :-**

[2018-12-03 04:20] nssundar commented on #90
I had to completely remove the entry for RazorPay plugin from config.xml, package.json and package-lock.json and then the plugin add worked.

[2018-12-03 06:00] sumedht commented on #89
@pkumar-uk we have updated android-sdk and will update for cordova in next 2-3 days.

[2018-12-03 07:08] iThink32 commented on #90
@nssundar I generally use npm update to update the Cordova version on our sample app after we make a public release.I have not faced the issue you are facing before , can you provide the error that you were facing?

[2018-12-04 11:16] sumedht commented on #89
@pkumar-uk Updated in v1.4.0 n it's published now.

[2018-12-04 11:16] #89 closed

[2018-12-04 16:05] nssundar commented on #90
Mine was a project that I was working on for more than 7 months. I think it was probably pointing to an older spec. When I removed the plugin and added it again it started to work. You can close this issue

[2018-12-19 06:37] #90 closed

[2018-12-19 06:38] iThink32 commented on #85
@shokeen-mohseen pls reopen issues before commenting.Anyway go through the readme , you have to update to the latest version of our package to be able to run it on Xcode 10+

[2018-12-26 05:45] aniketkale opened #91 "while loading bank page payment stuck"
* **Common to Both platforms :-**

  - [x] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [x] I have cleaned my project.

* **Specific to iOS Users :-**
  -

[2018-12-26 05:47] aniketkale commented on #91
Please wait while we redirect you to your bank page app goes pause and payment aloso pause

[2019-01-10 10:41] AnupNair91 opened #92 "Info about adding plugin key"
Hi, The plugin readme file doesn't mention about adding razorpay key to viewcontroller for ios which is mentioned in native docs. Please help how to set this up with cordova. thanks.

[2019-01-11 06:44] iThink32 commented on #92
@AnupNair91 it is mentioned.Please check the options that are being sent.

[2019-01-11 06:55] AnupNair91 commented on #92
@iThink32  Ok, I noticed that the key is set within the options, does that mean that there is no need to explicitly set it within the viewcontroller file as mentioned in the native ios docs ?

[2019-01-11 07:36] iThink32 commented on #92
no @AnupNair91 refer iOS integration docs for native iOS and this one for Cordova-ios

[2019-01-28 09:44] KishoreTorlakonda commented on #91
hi @aniketkale, did you find any solution for this problem?. I am also facing the same issue.

[2019-01-28 11:02] iThink32 commented on #91
@KishoreTorlakonda please use our latest SDK mentioned in the readme and try again.

[2019-01-28 13:08] KishoreTorlakonda commented on #91
Hi @iThink32, Yes I am using the latest SDK(v1.4.1). This is the issue that is thrown when the RP is trying to open a iframe
`Uncaught DOMException: Blocked a frame with origin "https://api.razorpay.com" from accessing a cross-origin frame.
    at $i.write (https://checkout.razorpay.com/v1/checkout-frame.js:1:44820)
    at Ea.writePopup (https://checkout.razorpay.com/v1/checkout-frame.js:1:59841)

[2019-01-28 14:11] KishoreTorlakonda commented on #91
my bad. figured the issue. We are using the same window.Razorpay global object used in the browser instead of 'RazorpayCheckout' obj for cordova app. Anyways thank you all.

[2019-01-29 09:37] iThink32 commented on #91
closing this issue as it is fixed.Reopen if required.

[2019-01-30 07:21] #91 closed

[2019-01-30 07:22] iThink32 commented on #92
closing due to inactivity,reopen if required.

[2019-01-30 07:22] #92 closed

[2019-01-30 07:22] iThink32 commented on #87
please update to our latest version and reopen this issue if it the problem persists.

[2019-01-30 07:22] #87 closed

[2019-02-04 07:00] iThink32 commented on #72
@prashanthvinti please reopen issues before commenting , anyway can you provide some more details about your error ? maybe a screenshot also?

[2019-02-11 13:30] iThink32 commented on #72
closing due to inactivity.

[2019-02-11 13:30] #72 closed

[2019-02-23 04:55] abhilashWipadika commented on #89
Google is restricting which apps can request Call Log and SMS permissions. And Razorpay plugin is having android.permission.RECEIVE_SMS.
Will the plugin work if this is removed.
Please advice if you are changing the plugin to adhere to Google policy or if thee are workarounds

[2019-02-23 06:35] sumedht commented on #89
@abhilashWipadika We have removed SMS permission and it's released it in v1.4.0 itself. U can use the latest SDK version.

[2019-03-07 05:44] TheCodeWork-dev commented on #89
Google is still preventing it even if I'm using latest SDK. Any suggestions?

[2019-03-15 06:36] deveshmishra34 commented on #38
I was also facing this issue after installing razor pay. But i resolve it just by setting deployment target 10.0. Hope this will work for you as well.
Thank you

[2019-03-25 05:17] TitikshaDaga opened #95 "Problem while uploading APK"
I am using razorpay for payments. Razorpay requires SMS permissions and according to the new google play store policies they are removing my application because of these permissions. Please help as I need to publish the application ASAP.
Even after updating the plugin this problem persists.
Thanks!!

[2019-03-25 05:43] TitikshaDaga commented on #89
This permission is still getting added :  <uses-permission android:name="android.permission.RECEIVE_SMS" /> after building the application.

[2019-03-25 05:49] pkumar-uk commented on #89
I can confirm. For me it was working and SMS permission was removed and google accepted my  apk.

[2019-03-25 05:53] pronav commented on #95
Hi, are you using latest version of plugin? We had removed SMS permission from Android SDK manifest a while back.

[2019-03-25 05:54] TitikshaDaga commented on #89
ok. There might be an issue with some other plugin then.

[2019-03-25 05:54] TitikshaDaga commented on #95
Yeah. I think i will check other plugins as well

[2019-03-26 09:42] pramodjaypore commented on #95
Is SMS permission removed from V1.4.1 ?  i am using V1.4.1 and app where removed by google from play store due  to access Call Log or SMS data.

[2019-03-26 10:21] pramodjaypore commented on #95
this is solved ? how to solve please help

[2019-03-29 09:27] maxakash opened #96 "Not able to call custom function after successful payment"
I tried calling my custom function inside "successCallback" but function not defined error is thrown.
I want to call a predefined function after successful payment , please help me with that.

[2019-03-29 10:53] #96 closed

[2019-04-09 07:02] harendrasinghmahour opened #97 "plugin in is not working in prod release for browser"
when i am using "ionic cordova run browser" this plugin is working but when i am trying to build it for release by command "ionic cordova build browser --prod --release" and after deploying to to server , its giving  error!

Uncaught (in promise): ReferenceError: RazorpayCheckout is not defined
ReferenceError: RazorpayCheckout is not defined
    at l.pay (1.js:1)
    at 1.js:1
    at t.invoke (pol

[2019-04-15 07:23] durgeshk8 opened #98 "Bank page not load in cordova with javascript"
ids.onclick = function(e){
	debugger;
	var amount=$("#amnt").val();
	if(amount!=""){
	var url="http://apifair11.fair11.com/api/GetOrderID/Get?amount="+amount+"";
	$.ajax({
            type: "GET",
            url: url,
            dataType: "Json",
            success: function (resultData) {
			debugger;

			$("#orderid").val(resultData[0].messg);
			rzp1.open();
			e.preventDefault();
			}
	});

[2019-04-15 07:27] pronav commented on #98
Hi Durgesh, you should not use web-integration library, it won't work since web library opens a popup to complete the payment which is not available in webview of a cordova based app. Please use cordova plugin.

[2019-04-15 07:42] durgeshk8 commented on #98
Witch plugin are used for this resolve this problem. Please suggest me
plugin

On Mon 15 Apr, 2019, 12:57 PM Pranav Gupta, <notifications@github.com>
wrote:

[2019-04-15 09:52] pronav commented on #98
See Readme section of this repo: https://github.com/razorpay/razorpay-cordova

[2019-04-17 15:53] pkumar-uk opened #99 "xcode build issue for ios swift version"
I am getting the following error while including the latest package for ios build

`/Plugins/com.razorpay.cordova/Razorpay.framework/Razorpay compiled with older version of Swift language (unknown ABI version 0x06) than previous files (unknown ABI version 0x07) file 'Stppeify/Plugins/com.razorpay.cordova/Razorpay.framework/Razorpay' for architecture x86_64`

I am using xcode 10.2

Could you please

[2019-04-22 06:14] balamurugan1991 opened #100 "How to integrate in phaser"
I don't how to add it in **phaser es6**. i install plugin using your command, next import command then i don't know what are the files need to add.i need  your instruction. I am using **phaser with cordova for android**. Guide me

Finally how to run the examples. Please add it in the instruction.

[2019-04-24 06:00] balamurugan1991 commented on #100
AnyBody There...

[2019-04-26 07:19] pronav commented on #99
We've updated the plugin to include support for Swift5/XCode10.2

[2019-04-26 07:19] #99 closed

[2019-05-15 08:50] vibinflogesoft opened #101 "App rejected because of razorpay android.permission.RECEIVE_SMS"
* **Common to Both platforms :-**

  - [x] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [x] I have cleaned my project.

* **Specific to iOS Users :-**
  -

[2019-05-15 08:53] vibinflogesoft commented on #101
Based on our review, we found your app’s expressed user experience did not match your declared core functionality {SMS-based financial transactions (e.g., 5 digit messages), and related activity including OTP account verification for financial transactions and fraud detection}. Please remove these permissions from your app.

[2019-05-15 08:54] vibinflogesoft commented on #101
****

[2019-05-15 08:55] vibinflogesoft commented on #95
Iam facing the same issue with razorpay version1.4.1 ,my app rejected with error
**Based on our review, we found your app’s expressed user experience did not match your declared core functionality {SMS-based financial transactions (e.g., 5 digit messages), and related activity including OTP account verification for financial transactions and fraud detection}. Please remove these permissions from y

[2019-05-15 12:35] vibinflogesoft commented on #89
Iam facing the same issue with razorpay version1.4.1 ,my app rejected with error
Based on our review, we found your app’s expressed user experience did not match your declared core functionality {SMS-based financial transactions (e.g., 5 digit messages), and related activity including OTP account verification for financial transactions and fraud detection}. Please remove these permissions from you

[2019-05-15 13:17] pronav commented on #101
Which plugin version are you using?

[2019-05-15 13:51] vibinflogesoft commented on #101
@pronav V1.4.1

[2019-05-15 14:07] pkumar-uk commented on #95
Guys .Hopefully it helps. I use Meteor and was trying to add this plugin to my project. Meteor requires to specify the exact version. I was unable to add this plugin putting any version for the plugin. Ended up using GIT URL of the plugin for the latest version to include in the project then only it picked it up. So please check if the latest code is being picked up.

[2019-05-15 14:42] pronav commented on #101
We had removed SMS permission since January this year, please update your plugin to 1.4.4 and see if it works.

[2019-05-16 08:09] #101 closed

[2019-05-21 04:43] maxakash opened #102 "Not able to capture payments with Razorpay ionic plugin"
I am using Razorpay ionic plugin in my Ionic 3 App. Everything is working fine and I am able to pay via razorpay but the payments are only getting authorized but NOT CAPTURED automatically.
I also tried using  "payment_capture: 1" but still payments are not getting captured automatically.
I am using plugin version 1.4.5

[2019-05-21 05:30] pronav commented on #102
Payment capture is a acknowledgement from your side that the payment you've received is correct i.e. not tempered with. It is supposed to be performed on backend side because frontend is inherently insecure for these kind of operations.

You can do one of these:
1. Once payment is successful, pass `payment_id` to your backend and perform capture there
2. Use [Orders API](https://razorpay.com/docs/

[2019-05-22 17:45] nagarajns opened #103 "Razorpay Subscription not working"
* **Common to Both platforms :-**

  - [ ] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [ ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [ ] I have cleaned my project.

* **Specific to iOS Users :-**
  -

[2019-05-22 17:53] nagarajns commented on #103
I have tried with normal payment method, its working fine..
But when i am creating authorization for subscription that time it breaks

![razorpay_issue](https://user-images.githubusercontent.com/12527807/58196634-5d3c4a80-7ce8-11e9-9c95-4db5b9504874.png)

[2019-05-23 02:11] pronav commented on #103
What options are you passing to plugin for subscription?

[2019-05-23 02:19] nagarajns commented on #103
i am passing options like below, I am having data in *auth* variable..

const options = {
        'key': auth.razorpay_key,
        'subscription_id': auth.subscription_id,
        'name': auth.name,
        'description': auth.description,
        'prefill': {
          'email': '',
          'contact': auth.prefill.contact,
          'name': auth.prefill.name
        },
        'notes': {

[2019-05-24 12:25] pronav commented on #103
can you post a sample subscription-id?

[2019-05-25 07:40] piyusha89 opened #104 "razarpay iOS cordova build error."
I am getting an error when I am creating the iOS Cordova build:

ERROR:
[code]

I am using the latest Xcode 10.2.1
I am also using the Razorpay framework in embedded binaries and linked frameworks.

Please resolve this issue I need to create the app and launched on the App store ASAP.

[2019-05-25 07:51] pronav commented on #104
Are you using version 1.4.5 of this plugin? Can you confirm first line from `Razorpay-swift.h` file?

[2019-05-25 09:13] piyusha89 commented on #104
Yes I am using the latest version of razorpay-cordova
the first line of Razorpay-swift.h is:
// Generated by Apple Swift version 4.2.1 (swiftlang-1000.11.42 clang-1000.11.45.1)

[2019-05-25 10:30] pronav commented on #104
This is not the latest version, please put `1.4.5` in package.json and re-install

[2019-05-25 12:44] piyusha89 commented on #104
Update Razorpay plugin version but error not resolve

[2019-05-27 04:45] nagarajns commented on #103
const options = {
      'key': 'rzp_test_kJYAbHXu2QZzI3',
      'subscription_id': 'sub_CYdaZ1SKpTvCPr',
      'name': 'App',
      'description': 'Description',
      'prefill': {
        'email': '',
        'contact': '9738404686',
        'name': 'Nagaraj'
      },
    };

[2019-05-27 10:47] piyusha89 commented on #104
Can You please help me on this issue. I am not able to create an iOS app using Razorpay plugin. If this issue not resolve. I should need to move on the Paytm payment  gateway.

[2019-05-28 11:39] sgadekar81 commented on #104
Was facing same issue,
Tried to downgrade com.razorpay.cordova@1.4.3
"com.razorpay.cordova": "^1.4.3" in package.json
in plugins/main.h => #import <Razorpay/Razorpay-Swift.h>
in build settings => always embeded swift libraries was true
worked for me, might help you also

[2019-05-29 04:03] pronav commented on #104
It's recommended to use xcode 10.2 and latest version of `com.razorpay.cordova` package, which is `1.4.5`. If multiple xcode are installed on your system, make sure, version 10.2 is selected in xcode > preferences > locations:

![58465773-ff7b8880-8155-11e9-849b-a51e19ff8979](https://user-images.githubusercontent.com/734840/58528511-65b6e880-81f4-11e9-9b87-302b2a6d14a4.png)

To check if latest ver

[2019-05-29 04:11] pronav commented on #103
Card payments are disabled for your account, please raise this with support@razorpay.com and get card as well as subscription feature enabled for your account.

[2019-05-29 04:11] #103 closed

[2019-05-29 04:11] #102 closed

[2019-05-29 04:46] sgadekar81 commented on #104
@pronav Thanks for the reply, I am using one xcode version is 10.1 and it is selected in location tab
![Screenshot 2019-05-29 at 9 57 16 AM](https://user-images.githubusercontent.com/14721916/58529679-6f8f1a80-81f9-11e9-8f4c-0b3142f884d5.png)
Every thing was working for me unless com.razorpay.cordova@1.4.3 as I tried to release a new version of my app it picked the latest version com.razorpay.cord

[2019-06-06 12:01] indraraj26 opened #105 "[bug] 'Razorpay/Razorpay.h' file not found"
* **Common to Both platforms :-**

  - [x ] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [x ] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [ x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [x ] I have cleaned my project.

* **Specific to iOS Users :-**

[2019-06-06 12:03] pronav commented on #105
We'll looking into it. Meanwhile:
1. Try changing it to `Razorpay/Razorpay-swift.h` wherever it's being referred to.
2. Try using version `1.4.3` of plugin, current version is compatible with xcode 10.2

[2019-06-06 12:32] indraraj26 commented on #105
I tried 1.4.3 and 1.4.1 but still it is showing this error 'Razorpay/Razorpay.h' file not found

[2019-06-07 04:46] #105 closed

[2019-06-07 05:03] indraraj26 opened #106 "Linker command failed with exit code"
* **Common to Both platforms :-**

  - [ x] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [x ] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [x ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [x ] I have cleaned my project.

* **Specific to iOS Users :-**

[2019-06-13 08:40] indraraj26 commented on #106
i have just set the enable bitcode to NO. for now it is working.

[2019-06-13 08:40] #106 closed

[2019-06-23 02:04] charumahajan opened #107 "RazorpayCheckout.open doesn't open modal in IOS"
The app doesn't do anything after RazorpayCheckout.open(options, successCallback, cancelCallback);
no console error, no loading. This issue is only in IOS . On other platforms its working fine.

[2019-06-25 10:49] charumahajan opened #108 "This plugin is not working for iOS pluginCallback not fired"
Its working fine in android but in ios it doesnt open any  modal . No plugincallback is fired.
No console error is shown. The debugger goes till this line

RazorpayCheckout.open(options, successCallback, cancelCallback);

After that no modal opens up.

[2019-07-02 12:37] Lokendra2500 commented on #85
I also face the issue when I build for iOS.
getting this message

The following build commands failed:
        CompileC /Users/aaryan/Library/Developer/Xcode/DerivedData/Navigator-eiuwppnigwdylqbpostwazwgltsm/Build/Intermediates.noindex/Navigator.build/Debug-iphonesimulator/Navigator.build/Objects-normal/x86_64/Main-2e271dd7871d25e9f7cc0087f333299870290e1cb0cc563c340cd3ade440690d.o /Users/aaryan/D

[2019-08-13 15:21] Muthukumar1996 commented on #72
Hi @iThink32  i have also facing same issue.

I have installed razorpay and followed all steps.
I was trying to work razorpay payment gateway in ionic 4 pwa.
When i test `ionic cordova run browser`. It's working perfect. But after deployment to server not working.
I have used build using following command.
     `ionic build --prod --service-worker`

I have deployed www folder to server(example apa

[2019-09-09 12:17] prasanta12 opened #109 "Not Expand payment Description text into multiline.Please provide the solution in ionic3"
* **Common to Both platforms :-**

  - [ ] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [ ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [ ] I have cleaned my project.

* **Specific to iOS Users :-**
  -

[2019-09-14 10:11] jitrani commented on #62
i am getting this error ...can u tell me how to fix this one.

[2019-09-30 16:08] kapilSoni101 opened #110 "Razopay.framework:- Following binaries are incompatible version of swift erron in ionic3?"
Hi team,
I have generating archive from Xcode 10.0 but I got above error in the console.actually I have implemented payment getway via razopay plugin but I got error.

**I tried below solution**
1st :- eabled bit code from build setting
2nd :- change swift version 4to 4.2 due to razopay compiled with 4.2 version.
![ios](https://user-images.githubusercontent.com/26578635/65898548-6abcbc00-e3cf-11e9

[2019-11-01 08:43] Kickassbadboy opened #113 "Deprecated Methods"
* **Common to Both platforms :-**

  - [x] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [x] I have cleaned my project.

* **Specific to iOS Users :-**
  -

[2019-11-18 08:00] yashdabi opened #114 "Razorpay payment page not opening on android release mode in ionic"
Razorpay payment page was opened in debug mode, but after uploaded on play store my app Razorpay payment page was not opening.

I was searching this for last few days, but there was nothing for ionic.
that's why I create this. now I found solution, please check.

**SOLUTION**
https://github.com/razorpay/razorpay-flutter/issues/42#issuecomment-550161626

[2019-11-18 19:51] nsrivastav opened #115 ""Not running swift-stdlib-tool: ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES is enabled, but the product type 'Static Library' is not a wrapper type.""
Hi,

I am getting the following warning "Not running swift-stdlib-tool: ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES is enabled, but the product type 'Static Library' is not a wrapper type."

Even if I ignore this warning and try to upload the app to App Store, it says that the SwiftSupport Folder is empty.

I am using ionic 3.
Xcode: 10.1
MacOS: 10.13.6

Please help as my app is not getting uploaded.

T

[2019-11-20 08:03] ankitkachhwaha commented on #85
Hi
i am facing same issue in ionic 3 i trying  to integrating razorpay in IOS     I try all the video and run script but still i am getting this error
Xcode version : 10.2.1

The following build commands failed:
/Users/cintana/Library/Developer/Xcode/DerivedData/Boonbox_Consumer-dpyknhwvgojmuzcbwsyasxwkhnep/Build/Intermediates.noindex/ArchiveIntermediates/Boonbox Consumer/InstallationBuildProducts

[2019-11-27 16:27] nsrivastav commented on #104
Hi,

I am getting the following warning "Not running swift-stdlib-tool: ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES is enabled, but the product type 'Static Library' is not a wrapper type."

Even if I ignore this warning and try to upload the app to App Store, it says that the SwiftSupport Folder is empty.

I am using ionic 3.
Xcode: 10.1
MacOS: 10.13.6

Please help as my app is not getting uploaded.

T

[2019-11-27 18:31] tusharvikky commented on #104
Hello,

I'm on Xcode 11.2.1 with "com.razorpay.cordova": "^1.4.8". Is anyone facing similar issue? And how did you guys resolve this?

Regards

[2019-11-27 21:48] tusharvikky opened #116 "Build fails on xcode 11.2.1"
Hello,

I got the following error while running on iOS. Android works fine.

[code]

Could you please help debug the issue. Waiting for the app to release.

Please let me know if you find any issue.

Regards

[2019-11-28 12:04] pramodjaypore commented on #104
yes facing same issue   with Xcode 11.2.1

On Thu, Nov 28, 2019 at 12:01 AM Tushar Deo <notifications@github.com>
wrote:

[2019-11-28 12:32] pramodjaypore commented on #116
struggling for the same .

[2019-11-28 12:45] pramodjaypore commented on #116
for me below fix is working
1) blank the main interface option  under general
2) For "Razorpay.Framework" select Embed & sign  under  general section

[2019-11-28 14:35] tusharvikky commented on #116
Tried that doesn't work. When we trigger the RazorPay plugin. It just shows white screen.

[2019-12-02 17:27] tusharvikky commented on #104
Any contributors still active here? Waiting for this plugin to sort out. waiting for the app to release to patch.

[2019-12-11 06:56] roushankumar01 commented on #116
Error solved with this solution.

[2019-12-12 05:37] cooldp007 commented on #104
I am facing same problem

[2019-12-12 05:56] Kunj-Choksi commented on #104
@tusharvikky @cooldp007
Hey...
Check this out
https://github.com/razorpay/react-native-razorpay/issues/83#issuecomment-394285167

It worked for me
You have to allow two configurations under build settings.
![Screenshot 2019-12-12 at 11 10 31 AM](https://user-images.githubusercontent.com/29457219/70685647-0ae86880-1cd0-11ea-952a-29c445a707c1.png)

//:configuration = Debug
ALWAYS_EMBED_SWIFT_STANDAR

[2019-12-12 10:34] cooldp007 commented on #104
I got following error

https://lh3.googleusercontent.com/--RYd3w5PIik/XfIXKDqJNrI/AAAAAAAADlM/1alYwPyDtRkQbzN_vueKTYBUXk5nWSi7wCK8BGAsYHg/s0/2019-12-12.png

[2019-12-17 12:48] nsrivastav commented on #104
Am Also getting the same error. Any resolution please?

[2020-01-10 12:57] AlejandrDiaz commented on #115
Hello, having the same issue any fix for this? @nsrivastav

[2020-01-13 13:29] chinthu opened #117 "Not getting razorpay_signature on success callback"
* **Common to Both platforms :-**

  - [ ] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [ ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [ ] I have cleaned my project.

* **Specific to iOS Users :-**
  -

[2020-01-23 12:47] dhanan85 opened #118 "dyld: Library not loaded: @rpath/libswiftCore.dylib"
I am trying to integrate Razorpay cordova plugin in my ionic app. It works find for Android. But for iOS I am getting below error when I run the app in Xcode. I am unable to proceed further. Please help me resolve the same. FYI, I have integrated as per the steps mentioned in the integration video and have added Razorpay framework in "Embedded Binaries" and have updated "Always Embed Swift Standar

[2020-01-24 06:53] dhanan85 commented on #118
Hi,

Expecting an update on this issue pls

[2020-01-25 14:39] pankajtechtrail opened #119 "Payments made through RazorpayCheckout (ionic) needs to be Authorized in dashboard"
Hi,
I am using Ionic plugin RazorpayCheckout. The payments made through this plugin needs to be authorized in the razorpay dashboard else it will get refunded back.
When I searched on the net the reason why the payments needs to be authorized, I came to know that the RazorpayCheckout doesnot create order-id but directly makes the payment. Due to which the transaction needs to be authorized from da

[2020-02-05 15:53] kiranramsingh commented on #119
Facing similar issue, please help what can be the fix

[2020-02-06 06:18] Nautiyalsachin commented on #119
Hi, for creating an order id, you can go through this link - https://razorpay.com/docs/payment-gateway/orders/.

Let me know if you guys need further assistant.

[2020-02-06 06:34] pankajtechtrail commented on #119
I found fix in earlier discussion thread.
https://github.com/razorpay/razorpay-cordova/issues/102

[2020-02-06 06:34] #119 closed

[2020-02-06 06:35] pankajtechtrail commented on #119
I found fix in earlier discussion thread.
https://github.com/razorpay/razorpay-cordova/issues/102

[2020-02-06 22:17] rickyh2007 commented on #118
Same error here, does anyone has a solution to it?

[2020-02-07 15:08] suhailparad opened #120 "No Callback if Razorpay payment takes more than 2 minutes - Ionic 4"
I am using latest version,
callback function (successCallback and cancelCallback ) are not responding or not executing If the payment process takes more than 2 minutes. Is there any other call back function ?

I am using Ionic 4

[2020-02-15 07:16] sagrawal31 opened #121 "Alternatives to Android Lifecycle issue"
## Common to Both platforms

  - [x] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [x] I have cleaned my project.
  - [x] I have gone through FAQ's (https:/

[2020-02-20 07:04] sumedht commented on #121
@sagrawal31 Can u share crash logs of the issue?
also, have u faced this issue in real-time? we have added [this](https://github.com/razorpay/razorpay-cordova#android-lifecycle-guide) to handle lifecycle scenario issue.

[2020-02-20 07:08] sagrawal31 commented on #121
Can you please re-read my description. I never mentioned that "my app is crashing".

Yes, on low-end devices, the original app activity is getting killed by Android OS which is not desirable for our business.

I know this lifecycle issue and I have read it multiple times. **THAT IS OUR PROBLEM**. We don't want our users to see that after payment, the app is being relaunched.

[2020-02-20 08:18] vivekshindhe commented on #121
Can you share the list of devices and their information where you can see this happen in real-time?

[2020-02-20 10:04] sagrawal31 commented on #121
@vivekshindhe I don't really have to test it on a real device because I only enabled `Don't keep activities` in the `Developers Options` in the Android OS and the problem started appearing clearly.

(This I have already explained in my issue description).

And since there is a clear chance of this happening i.e. Android OS killing the main app/activity, we can't take that risk especially when our

[2020-02-21 06:43] sumedht commented on #121
@sagrawal31
For this issue, we have to handle `event.pendingResult` which is supported in v5.1.0 and above.
We are currently on v3.4.0 and have to move to the latest. For that, there may be some impact on functionality.
As it's a hypothetical issue, we will take it up as a low priority and fix it. will update you once it is done.
Thanks for pointing out on this!

[2020-02-21 06:49] sumedht commented on #121
@sagrawal31
For fixing this scenario, we have to handle `event.pendingResult` in `onResume` state which will give pending callbacks if there is any when activity restarted.
This feature is provided by the framework on v5.1.0+ and we are currently on v3.4.0.
We will update our SDK with latest framework to handle this scenario. But as it's a hypothetical issue we will keep its priority low and will

[2020-02-27 09:16] snaveenpandi opened #122 "How to capture payment on success callback"
Hi:
        i had payment integration on my ionic app version 3,once payment is done i got only payment id, any way to possible get response Like this,
                      Examble:response={
                                                       status:pending,
                                                       payment_id:xxxxxxxx,
                                                       order

[2020-03-25 07:48] chinthu opened #128 "Payment failed when minimizing app to get OTP on credit card payment ?"
* **Common to Both platforms :-**

  - [x] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [x] I have cleaned my project.
  - [x] I have gone through FAQ's (h

[2020-04-02 06:37] theavijitsarkar opened #130 "Cannot Install on iOS"
* **Common to Both platforms :-**

  - [x ] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [x] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [x] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [x] I have cleaned my project.
  - [x] I have gone through FAQ's (

[2020-04-02 08:20] Nautiyalsachin commented on #130
Hi @theavijitsarkar, can you add this line `typedef RazorpayCheckout Razorpay;` at path
`/Applications/MAMP/htdocs/regularli-neo-v2/src-cordova/platforms/ios/Regular.li/Plugins/com.razorpay.cordova` in `Main.h`.

[2020-04-02 11:35] theavijitsarkar commented on #130
Thanks it worked

[2020-04-02 11:35] #130 closed

[2020-04-03 11:55] Nautiyalsachin commented on #130
We have updated the package with the fix, you can update it now. the latest version is v1.4.10.

[2020-04-28 15:20] webacers opened #133 "Integration with React"
Hi,
I am build a hybrid app using Ionic 5 and have used capacitor and React. Now I want to integrate this plugin.

I am getting RazorpayCheckout undefined error.

Is there anyway to solve this issue?

Thanks.

[2020-05-10 19:30] #113 closed

[2020-05-15 14:25] #114 closed

[2020-05-19 21:50] ganeshrvel commented on #117
If anyone else is wondering why these values are missing in the response, just pass the `order_id` in the options object.

Something like this:

[code]

[2020-05-29 12:22] IonicDeveloper2 opened #134 "How to use this plugin for Subscriptions in RazorPay"
* **Common to Both platforms :-**

  - [x] I have gone through the README(https://github.com/razorpay/razorpay-cordova)
  - [ ] I have searched for a similar issue (https://github.com/razorpay/razorpay-cordova/issues)
  - [ ] I am using the latest version of our framework (https://github.com/razorpay/razorpay-cordova/releases)
  - [ ] I have cleaned my project.
  - [x] I have gone through FAQ's (h

[2020-06-18 12:31] zubinraja opened #136 "Doesn't work in Samsung tablet"
## Description

Razorpay plugin with ionc3 works well in android devices, but in tablets it keeps loading and nothing happens afterwards.

## Razorpay Package Version :
"com.razorpay.cordova": "git+https://github.com/razorpay/razorpay-cordova.git",

## Java and Gradle Version (android) :
java version "1.8.0_211"
Gradle 6.0.1

### What you did:

After successful testing of razorpay plugin in mobile

[2020-06-22 09:20] Priya-mk opened #137 "error: RazorpayCheckout is not defined"
im using cordova hybrid app (angular 7), showing RazorpayCheckout is not defined

[2020-06-22 13:30] AYAN249 commented on #137
You can refer to this GitHub link this should work fine https://github.com/razorpay/razorpay-cordova-sample-app

[2020-06-29 16:38] ssana612 opened #138 "<Razorpay/Razorpay-swift.h> not found getting error in ios"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Cordova plugin release to make sure your issue has not already been fixed.

## Razorpay Package Version :
Open `Package.json`. > Copy `com.razorpay.cordova` version here or github URL.

## Xcode Version (iOS) : 11.5
ionic framework version : ionic

[2020-06-29 16:42] ssana612 commented on #138
@pronav @Nautiyalsachin required urgent help on this.

[2020-06-30 05:16] Nautiyalsachin commented on #138
Can you share the pod details, are you using cocoa pods? If yes, then which version of Razorpay are you using?

[2020-06-30 21:43] ssana612 commented on #138
No i am not using cordova pods i tried to install but didn't get install.

[2020-07-01 04:42] Nautiyalsachin commented on #138
@ssana612 : I would suggest you go through [this example](https://github.com/razorpay/razorpay-cordova-sample-app/tree/master/rzp-ionic3-example) first. See the implementation there and try to run it locally, it might help you to figure out this issue.

[2020-07-01 05:09] ssana612 commented on #138
@Nautiyalsachin i have tried this example already and import everything but still getting same error .

[2020-07-01 05:15] Nautiyalsachin commented on #138
@ssana612 : Please create a new sample app and follow the mentioned steps from the Readme.

[2020-07-02 15:52] Nautiyalsachin commented on #137
Thanks @AYAN249, Let me know @Priya-mk if this issue still persists. Closing the issue now.

[2020-07-02 15:52] #137 closed

[2020-07-02 16:01] Nautiyalsachin commented on #136
@sumedht : Can you help here?

[2020-07-08 08:08] evaldsurtans commented on #115
I ended up changing Podfile to use "use_frameworks" otherwise always missing swift libraries

my Podfile
[code]

<img width="652" alt="image" src="https://user-images.githubusercontent.com/1777062/86894183-66b28d00-c10b-11ea-939a-b0ef28d514ba.png">

[2020-07-09 18:06] Nautiyalsachin commented on #138
Closing this issue due to inactivity, feel free to re-open it.

[2020-07-09 18:06] #138 closed

[2020-07-09 18:12] Nautiyalsachin commented on #133
@webacers : We are only supporting Cordova and not capacitor. If you want to create your plugin in react-native then please use [react-native-razorpay](https://github.com/razorpay/react-native-razorpay) plugin.

[2020-07-09 18:12] #133 closed

[2020-07-10 19:02] ssana612 commented on #138
@Nautiyalsachin hey i tried that example which you have given but still no progress on that issue.

[2020-07-14 05:02] rohanvenky opened #140 "Unknown type name 'RazorpayCheckout'"
Ios Build fail :
Unknown Type name 'Razorpay Checkout' in main.m

Xcode Version : 11.5

Package.json :
"author": "Apache Cordova Team",
  "license": "Apache-2.0",
  "dependencies": {
    "com.razorpay.cordova": "git+https://github.com/razorpay/razorpay-cordova.git",
    "cordova-ios": "^5.1.1",
    "cordova-plugin-cocoapod-support": "1.6.2"
  },
  "devDependencies": {
    "cordova-plugin-whitelist

[2020-07-15 14:18] jitrani commented on #62
Hi Guys I am getting issue while doing ios build.
Razorpay/Razorpay-Swift.h' file not found. in main.h file

[2020-07-15 16:28] rickyh2007 commented on #140
I have the same error, can someone shed some light on this issue please?

[2020-07-16 17:54] mohammadsiddiqui commented on #140
I am also facing the same issue.

[2020-07-16 18:31] Kaoschuks commented on #140
Me too

[2020-07-17 13:31] mohammadsiddiqui commented on #140
@Nautiyalsachin it's bit urgent can you suggest something?

[2020-07-17 13:58] Kaoschuks commented on #140
@Nautiyalsachin Please this is super urgent for everyone here. Deadline are been moved forward because of this

[2020-07-17 14:12] nikhilkgupta01 commented on #140
Well, version 1.4.8 of com.razorpay.cordova worked for me. Could be used as a temporary solution unless you are not using any updates that came after 1.4.8. All versions after 1.4.8 till 1.4.12 (current version) give the same error.

[2020-07-17 14:17] mohammadsiddiqui commented on #140
alrigt, i am giving it a try, will update if it works

[2020-07-17 14:25] Kaoschuks commented on #140
Already trying it out right now would give a feedback soon

[2020-07-17 15:14] mohammadsiddiqui commented on #140
got the build working! Thank you @nikhilkgupta01

[2020-07-17 15:16] nikhilkgupta01 commented on #140
You are welcome.

[2020-07-17 15:26] Kaoschuks commented on #140
same

[2020-07-21 13:06] shreyanshksharma commented on #122
I am also facing the same issue. I am using the orders api with auto_capture=1 to generate the order_id.
After checkout, only the payment_id is being returned in response.

[2020-07-22 12:35] amityyChopra opened #141 "Issue while integrating Razorpay in ionic 3 iOS platform"
Do I need to code in this file, as suggested for iOS native SDK? Please help because error is coming whenever I am trying to integrate Razorpay.

![Screenshot 2020-07-22 at 6 03 43 PM](https://user-images.githubusercontent.com/26737083/88176961-b2a21d80-cc45-11ea-960d-090173ef6b18.png)
<!--
------ 👆 Click "Preview"!

[2020-08-02 02:45] akshay0505 commented on #120
Razorpay provides webhook. You can use it to update the payment status in your database.

[2020-08-02 02:49] akshay0505 commented on #140
May be you have forgot to add     <script src="https://checkout.razorpay.com/v1/checkout.js"></script> in index.html or may be for got to add "declare var RazorpayCheckout:any;" in your TS file. I was also facing this issue.

[2020-08-02 05:44] Nautiyalsachin commented on #140
Hey guys, please try to update your **razorpay-pod**, it should be more than **1.1.5**. Please update it by running command  `pod update razorpay-pod`. You can verify it by opening **podfile.lock** and see the version mentioned after razorpay-pod.

[2020-08-03 03:04] ladaniavadh opened #142 "App Crashes after razorpay"
If facing different type of issue that if storage of device is near to full then app is getting restart and order not placed and amount deduct.

On callback of razorpay error is showing that, after payment razorpay should force app to resume instead of restart.

Has anyone face this type of issue?

[2020-08-03 17:37] AYAN249 commented on #142
You can refer to our sample Cordova sample app: https://github.com/razorpay/razorpay-cordova-sample-app/tree/master/rzp-ionic3-example

[2020-09-10 05:29] sumedht commented on #142
@ladaniavadh Have u tried with our sample app? does it behave in the same manner?
Can u share more details like which version of SDK u r using?

[2020-10-07 10:41] nishantrunning commented on #85
How did you manage to fix it? I am also getting the same errors.

[2020-10-07 16:29] shokeen-mohseen commented on #85
Note: Make sure that you set Always Embed Swift Standard Libraries of your
main target to yes.

Note: Remember to enable bitcode on your iOS project. We support Xcode 11+
versions.
--
*Regards,*
*Mohd Imran*
*Hybrid app Developer*
*Misha Infotech Pvt Ltd.*
*Email: m <imran.m@mishainfotech.com>ohdimran088@gmail.com
<ohdimran088@gmail.com>*

On Wed, Oct 7, 2020 at 4:11 PM Nishant Gaurav <notificatio

[2020-10-07 17:51] nishantrunning commented on #85
Still getting the same errors. Set Always Embed Swift Standard Libraries to Yes and enable bitcode to Yes. Cleared derived data as well.

Attaching screenshot below.

<img width="1676" alt="Screenshot 2020-10-07 at 11 20 25 PM" src="https://user-images.githubusercontent.com/3893022/95368459-ca5b7a80-08f3-11eb-9a63-c126945426e0.png">

[2020-10-07 17:56] nishantrunning commented on #85
Still getting the same errors. Set Always Embed Swift Standard Libraries to Yes and enable bitcode to Yes. Cleared derived data as well.

Attaching error log below.

/Users/nishantgaurav/app/platforms/ios/heroapp/Plugins/com.razorpay.cordova/Main.m:3:9: error: unknown type name 'RazorpayCheckout'
typedef RazorpayCheckout Razorpay;
        ^
/Users/nishantgaurav/app/ios/app/platforms/ios/heroapp/Pl

[2020-10-09 07:26] Nautiyalsachin commented on #85
Hi @nishantrunning, Please try to update your Xcode and the `razorpay-pod` internally, we have fixed this issue on our latest release. Also don't forget to run `pod update` on your podfile.

[2020-10-09 10:41] nishantrunning commented on #85
Already did that. Adding the version info below

Xcode 12
razorpay-pod (1.1.7)
com.razorpay.cordova (1.4.12)
cordova-ios: 5.1.1,

Following are the steps I followed.

Updated pod
Always Embed Swift Standard Libraries of main target to yes
Enabled bitcode on project
Deleted the contents of the derived data folder and rebuild it.
Removed the platform and rebuild

The issue still persists. @Nautiyals

[2020-10-13 19:36] mail2bapi commented on #117
As @ganeshrvel  said, "order_id" is the culprit here.

[2020-10-14 08:20] vivekshindhe commented on #117
Hope the issue is resolved. Closing it. Please create another ticket if you need support.

[2020-10-14 08:20] #117 closed

[2020-10-14 16:51] ganeshrvel commented on #117
@vivekshindhe care to mention this about the mandatory `order_id` in your document?

[2020-10-14 17:07] vivekshindhe commented on #117
There isn't a payload that doesn't have order_id in the document. But thanks for the mention. Will look into it.

[2020-10-16 17:25] 4blocksinc opened #143 "Trying to integrate razor pay for ios"
Im trying to integrate razor pay for iOS.
 Phonegap Version 9
<plugin name="com.razorpay.cordova" spec="https://github.com/razorpay/razorpay-cordova.git"/>
this is what im using in config.xml file
when i try to build the ipa im getting the following error.
Error - The following 3rd-party plugin is causing the build to fail and may need to be updated to a newer version: com.razorpay.cordova

Log Fi

[2020-10-16 17:28] 4blocksinc commented on #143
Url used for plugin addition - https://github.com/razorpay/razorpay-cordova.git

[2020-10-19 18:11] imromec opened #144 "'Razorpay/Razorpay-Swift.h' file not found"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Cordova plugin release to make sure your issue has not already been fixed.

## Razorpay Package Version :
Open `Package.json`. > Copy `com.razorpay.cordova` version here or github URL.
"com.razorpay.cordova": "^1.4.12",

## Xcode Version (iOS) :
Op

[2020-10-19 18:39] imromec commented on #144
I've searched for all. If you think I've missed something to try, please let me know. Thank you.

[2020-10-20 06:22] Nautiyalsachin commented on #85
Hi @nishantrunning, we have these example repositories created, please try to clone it in your system and try to replicate the same on the examples. Let me know if you want any more help.
Regards, Sachin

[2020-10-20 08:02] Nautiyalsachin commented on #144
Hey @imromec, can you share the razorpay-pod version here? You can find this inside your podfile.lock file.

[2020-10-20 08:13] imromec commented on #144
It's

`  - razorpay-pod (1.1.7)`

[2020-10-20 09:16] Nautiyalsachin commented on #95
Hi @vibinflogesoft, Are you still facing this issue, you can try updating it to the latest released version.

[2020-10-20 12:42] imromec commented on #144
We need urgent support on this please help us fix this.

[2020-10-20 18:09] Nautiyalsachin commented on #144
@imromec We have a sample app from where you can see the implementation

https://github.com/razorpay/razorpay-cordova-sample-app/tree/master/rzp-cordova-example

Try to run it locally and see if you are missing anything.

[2020-10-21 05:06] imromec commented on #144
@Nautiyalsachin If you've read my description, I've clearly mentioned we're using Capacitor. What you're referring to me is a Cordova application. Please correct me if I've missed something.

[2020-10-21 06:31] Nautiyalsachin commented on #144
Please create a feature request, which you can find in new issues > feature request. If we get more requests then we will consider working on it.

[2020-10-21 06:31] #144 closed

[2020-10-21 06:38] Nautiyalsachin commented on #143
Hi @4blocksinc, can you run `cordova build ios --verbose` and share the output here. Right now, shared logs is not helping.

[2020-10-21 06:54] imromec commented on #144
What do you mean by that? What do we do now? We already have 50 apps in Android running fine with Razorpay and now you're asking us to change it to Cordova because you cannot fix this?

[2020-10-21 06:56] imromec commented on #144
Ionic will longer support Cordova in sometime. And instead of that, everyone has to switch to Capacitor and because of this we I don't think there is any point of using Razorpay with all our merchant apps.

[2020-10-21 09:35] 4blocksinc commented on #143
@Nautiyalsachin Im using Adobe phone gap build to create the builds

[2020-10-21 10:13] Nautiyalsachin commented on #143
@4blocksinc, can you share the logs here in more details?

[2020-10-21 10:53] vivekshindhe commented on #95
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:53] #95 closed

[2020-10-21 10:54] vivekshindhe commented on #97
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:54] #97 closed

[2020-10-21 10:55] vivekshindhe commented on #104
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:55] #104 closed

[2020-10-21 10:55] #120 closed

[2020-10-21 10:56] vivekshindhe commented on #142
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:56] #142 closed

[2020-10-21 12:11] imromec commented on #144
It's an issue, not a feature request.

[2020-10-22 07:42] Nautiyalsachin commented on #98
Closing this issue due to no response. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-22 07:42] #98 closed

[2020-10-22 07:49] imromec opened #145 "'Razorpay/Razorpay-Swift.h' file not found"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Cordova plugin release to make sure your issue has not already been fixed.

## Razorpay Package Version :
Open `Package.json`. > Copy `com.razorpay.cordova` version here or github URL.
"com.razorpay.cordova": "^1.4.12",

## Xcode Version (iOS) :
Op

[2020-10-22 08:05] Nautiyalsachin commented on #107
Hey @charumahajan, we have released a new version with the fix for this, please update it to the latest version.

For now closing this issue, feel free to reopen or add a new comment on the same for any additional query.

[2020-10-22 08:05] #107 closed

[2020-10-22 08:10] Nautiyalsachin commented on #100
Hey @balamurugan1991, hope you are able to add the phaser es6, for reference you can try this [example](https://github.com/fbaldo31/cordova-phaser). I hope you have already fixed this, closing this issue for time being, let me know if this issue still persists, you can re-open the issue for any query or any further assistance.

[2020-10-22 08:10] #100 closed

[2020-10-22 08:11] Nautiyalsachin commented on #107
https://github.com/razorpay/razorpay-cordova/issues/108

[2020-10-22 08:11] Nautiyalsachin commented on #108
Repeated issue.

[2020-10-22 08:11] #108 closed

[2020-10-22 08:13] Nautiyalsachin commented on #109
Hi @prasanta12, please try this [sample app](https://github.com/razorpay/razorpay-cordova-sample-app/tree/master/rzp-ionic3-example) which is in ionic3. Let me know if you need any other assistance, closing this issue now.

[2020-10-22 08:13] #109 closed

[2020-10-22 08:16] Nautiyalsachin commented on #110
Hi @kapilSoni101, we have fixed this issue in our latest update, I'll ask you to update your Xcode and razorpay-pod also. You can see the updated readme for more detailed steps.

Closing this issue now, feel free to re-open or create a new issue or comment on the same issue, if you have any other additional queries.

[2020-10-22 08:16] #110 closed

[2020-10-22 08:19] Nautiyalsachin commented on #115
Hi @evaldsurtans, thank you for the detailed solution but I can see this issue was because of the other library 'RNTrackPlayer'.

Closing this issue now, feel free to reopen this issue or add comments for additional queries.

[2020-10-22 08:19] #115 closed

[2020-10-22 08:21] Nautiyalsachin commented on #116
Hey @tusharvikky, sorry for the late reply 😅, as @roushankumar01 has suggested, please update to the latest Cordova version, this will definitely fix this issue.

Closing this issue now, let me know if you need further assistance.

Regards, Sachin

[2020-10-22 08:21] #116 closed

[2020-10-22 08:24] Nautiyalsachin commented on #118
Hey @dhanan85, @rickyh2007, we have created a permanent solution for this issue and for implementing the fix you have to update our Razorpay Cordova plugin to the latest version, please update it and also update the razorpay-pod.

Closing this issue now, feel free to re-open or add comments for any additional queries.

[2020-10-22 08:24] #118 closed

[2020-10-22 09:25] Nautiyalsachin commented on #122
Hey @snaveenpandi @shreyanshksharma, is this happening on Android or iOS or both?

[2020-10-22 09:27] Nautiyalsachin commented on #128
Hi @chinthu, the above details are not giving any useful information, please add more details like device name, os type, plugin versions, etc. Closing this issue now, feel free to reopen it or add comments or create a new issue if you have any other queries.

[2020-10-22 09:27] #128 closed

[2020-10-22 10:06] #136 closed

[2020-10-22 10:11] Nautiyalsachin commented on #134
Hi @IonicDeveloper2, here are our documentation for [Subscription](https://razorpay.com/docs/subscriptions/),

Closing this issue now due to incomplete information, feel free to reopen the issue, or add any comments on this for any other information.

[2020-10-22 10:11] #134 closed

[2020-10-22 10:13] Nautiyalsachin commented on #140
Closing this issue due to no activity. Please feel free to either re-open or create a new issue if you have any additional queries.

[2020-10-22 10:13] #140 closed

[2020-10-22 10:16] Nautiyalsachin commented on #141
Hey @amityyChopra, you are missing `#import <Razorpay/Razorpay-Swift.h>` next to the `#import <Main.h>`

Also, I would suggest you to update your plugin to the latest version if any available,

Closing this issue now, feel free to reopen or create a new issue for any additional information.

[2020-10-22 10:16] #141 closed

[2020-10-22 14:23] navneetnis1 commented on #145
i am facing this issue too

[2020-10-23 02:57] 4blocksinc commented on #143
![phonegap log](https://user-images.githubusercontent.com/19328801/96829971-37285600-1458-11eb-9dfd-75b455d4b478.png)

[2020-10-23 03:22] maheshchari opened #146 "Ionic 6 Capacitor Integration support"
Is there any support that works on  ionic 6 capacitor integration , i could not find any help over internet.

[2020-10-23 05:28] gurumukhi commented on #145
My Ionic project also uses Capacitor and this issue looks like a major road blocker for us too. Looking forward for an update on this.

[2020-10-23 06:23] asharamseervi commented on #145
Thanking @imromec for raising this concern!

[Dependencies for iOS Development with capacitor](https://capacitorjs.com/docs/getting-started/dependencies#ios-development) seems reasonable to us, and they aren't seems to breaking anything with this package!

I'm asking, what's harm to add & cover more use cases? Someone should pick this and raise a pull request to get this merged into core!

[2020-10-23 06:47] Nautiyalsachin commented on #143
@4blocksinc, Are you using Xcode 12 ?

[2020-10-23 07:30] Virendra-Yadav commented on #145
I am also using Razorpay as payment method - uses Capacitor. I am unable to rollout the IOS version for payment module due to this.

I thought I was missing something but if it seems to be a issue after looking this chain - looking forward to get some help on this.

[2020-10-24 09:39] Nautiyalsachin commented on #145
Hey @imromec can you share a sample app here, so that I can debug more on this issue ?

[2020-10-26 10:17] imromec commented on #145
@Nautiyalsachin You could debug using these steps:

    Make an Ionic Application
    Run ionic capacitor add ios
    Run npm install com.razorpay.cordova
    Run ionic capacitor build ios
    And build it from Xcode you'll see the error 'Razorpay/Razorpay-Swift.h' file not found

Let me know if you need anything else.

[2020-10-26 14:55] mic0108 commented on #145
Im also facing this problem. It's working fine in android but in iOS it throws 'Razorpay/Razorpay-Swift.h' file not found error while building. It's a major roadblock. Please add capacitor support.

[2020-10-27 08:06] Nautiyalsachin commented on #145
@imromec, are you using Cocoapods in your project? if yes, please share the razorpay-pod version here.

[2020-10-27 08:34] kdmalviyan opened #147 "Ionic Capacitor Integration"
Hi Guys,
I am trying to integrate razorpay with Ionic-Capacitor project, but getting this issue when using browser for testing. And after payment success/failure it never calls callback.
![image](https://user-images.githubusercontent.com/5275882/97276252-f451ee00-185c-11eb-9754-2b5695694edb.png)
Same happened If I use emulator or real apk, it does not call callback functon.

Can someone help me wi

[2020-10-27 11:38] iamromec commented on #145
@Nautiyalsachin Its `razorpay-pod (1.1.7)`

[2020-10-28 05:23] Nautiyalsachin commented on #147
Closing this issue due to lack of information, please create a new issue with all the asked details.

[2020-10-28 05:23] #147 closed

[2020-10-28 13:00] kdmalviyan commented on #147
@Nautiyalsachin I am not sure what more information you were expecting, can be more specific what exactly you want on this issue?

[2020-10-28 18:47] iamromec commented on #145
@Nautiyalsachin Any update on this?

[2020-10-29 15:20] 4blocksinc commented on #143
No,im not using a Mac to create create the ipa,  im using Adobe phone gap build to create the ipa

[2020-11-10 06:11] Nautiyalsachin commented on #146
Can you provide more details here, the current implementation is working fine with Capacitor. Closing this issue as details are missing. Feel free to re-open it or add more comments.

[2020-11-10 06:11] #146 closed

[2020-11-10 06:17] Nautiyalsachin commented on #143
@4blocksinc, Please download Xcode in your system as you may have to add the asked changes here - https://github.com/razorpay/razorpay-cordova/wiki/FAQ.

[2020-11-10 12:12] iamromec commented on #145
Hey @Nautiyalsachin, how are we on this? I hope the permanent fix is being worked on. The solution we talked over the call is a temporary one, but we're expecting this to be fixed soon permanently.

[2020-11-13 07:21] sreerajkarippala opened #148 "Never ending loading on ionic 5 capacitor"
## Description

integration Razorpay-cordova in ionic 5 capacitor. The problem while checkout after card information payment process screen pop is showing but not ending.

## Razorpay Package Version :
"1.4.12"

## Xcode Version (iOS) :
12.1 (12A7403)

## Java and Gradle Version (android) :
Java: 1.8.0_242
Gradle(Android): 3.6.1

### What you did:

i click pay button in screen

### What happened:

[2020-11-13 07:24] sreerajkarippala commented on #147
same issue open a new issue #148

[2020-11-18 11:57] sumedht commented on #122
@shreyanshksharma Closing this issue as there is no activity. U can reopen it if u facing same issue

[2020-11-18 11:57] #122 closed

[2020-11-18 12:13] sumedht commented on #121
@sagrawal31 Updated in our latest SDK version. Closing this issue as there is no further activity on this.

[2020-11-18 12:13] #121 closed

[2020-11-18 15:00] sagrawal31 commented on #121
Thanks @sumedht for the update.

[2020-11-19 06:21] Nautiyalsachin commented on #143
Closing this issue due to no response, feel free to re-open or add comments.

[2020-11-19 06:21] #143 closed

[2020-11-25 15:58] iamromec commented on #145
Hey @Nautiyalsachin, how are we on this? I hope the permanent fix is being worked on.

[2020-12-12 10:34] vinothkumarmannusamy21 commented on #62
Hey Guys i got same error when I build iOS in ionic 6, I spent lots of with this  Razorpay/Razorpay-Swift.h' file not found. in main.h file,
please help me

[2020-12-12 18:56] abdulahad-07 commented on #145
What is a temporary solution? Can you please help with this?

[2020-12-15 08:10] Nautiyalsachin commented on #62
Hi @vinothkumarmannusamy21, @jitrani  you have to create your app with Cordova, as we are supporting the ionic through it. Please take the reference from this [example](https://github.com/razorpay/razorpay-cordova-sample-app/tree/master/rzp-ionic-5-example).

[2020-12-15 08:15] Nautiyalsachin commented on #145
@abdulahad-07, the temporary solution is to create the app using Cordova as we are giving Ionic support through Cordova and not directly to Ionic. For reference, you can see this [example](https://github.com/razorpay/razorpay-cordova-sample-app/tree/master/rzp-ionic-5-example).

Closing this issue now. Feel free to add comments or re-opening this issue.

[2020-12-15 08:15] #145 closed

[2020-12-15 08:17] Nautiyalsachin commented on #148
Hi @sreerajkarippala, which platform you are seeing this issue on?

[2020-12-22 09:09] sreerajkarippala commented on #148
Hi, in android app using Ionic 5 capacitor

[2020-12-22 10:18] Nautiyalsachin commented on #148
Can you share all the options here which you are using to do this transaction? Have you tried this on real device also?

[2020-12-29 10:15] iamromec commented on #145
Why this issue has been closed without the fix? I thought Razorpay is a good developer friendly product.

[2020-12-29 10:17] iamromec opened #149 "'Razorpay/Razorpay-Swift.h' file not found"
Duplicate of #

[2020-12-29 10:18] iamromec commented on #149
PLEASE DO NOT CLOSE WITHOUT THE PERMANENT FIX.

[2020-12-29 10:20] iamromec commented on #149
If you've noticed #145, there are many developers who're facing the issue and you guys are hurry to close the issue without a permanent fix? Is it what Github for?

[2021-01-02 10:55] hsarma commented on #149
I am also in need of capacitor support, unable to rollout the app just because of this issue.

[2021-01-03 13:00] sparkidea-codecrab commented on #149
Facing the same issue.  When can we expect an answer on this?

[2021-01-04 13:23] iamromec commented on #149
Razorpay Tech Team, We'd really appreciate it if you guys could help us out. Our business is being impacted due to this a lot! Please understand!

[2021-01-04 15:21] jdpsah opened #150 "Razorpay not showing in android ionic 5"
Hi All, I have a PWA application in ionic 5 . I have implemented razorpay which is working fine in platform browser. but the same is not working after making build for android. On click of pay now, razorPay interface is not opening. even there is no any issue in console. Can any please help.

[2021-01-05 04:54] vivekshindhe commented on #150
Hey @jdpsah. That's strange. We've never encountered this issue before. Could you please give us more info about this? Like the commands, you use to test this on android?

[2021-01-05 06:25] sumedht commented on #149
@iamromec @hsarma @sparkidea-codecrab we have it in our roadmap for this year and we will update the thread when we make progress on this.

[2021-01-05 07:02] Nautiyalsachin commented on #148
Closing this issue due to not having sufficient details or no activity. Please feel free to re-open the issue or add comments on the same.

[2021-01-05 07:02] #148 closed

[2021-01-08 08:46] vivekshindhe commented on #150
@jdpsah any update? Did you resolve this issue?

[2021-01-08 08:54] jdpsah commented on #150
@vivekshindhe  Still the issue has not been resolved, See what I did is, I was already having an PWA application with razorPay implemented which is working fine, but when I am making build for Android using Ionic cordova run/build android then on the payment page while clicking on the method to invoke it, its not opening the razorpay view. Below is my code.

orderPlaceWithRazorPay() {
    if(this.

[2021-01-08 09:06] vivekshindhe commented on #150
are you seeing any logs on adb? @jdpsah

[2021-01-08 13:09] jdpsah commented on #150
@vivekshindhe In ADB logcat I am not getting any issue.

[2021-01-08 13:22] vivekshindhe commented on #150
@jdpsah okay. Let me check this and get back to you.

[2021-01-16 02:38] raunix commented on #148
i am also facing same issue with razorpay is there any solution? please

[2021-01-18 07:12] Nautiyalsachin commented on #148
@raunix, please share the option details here so that we can try to debug it locally. And share other details too like OS, OS version, have you tried on pysical device, and some more relevent data.

[2021-02-19 14:22] deveshmishra34 commented on #149
Any update on this ...I'm still facing this issue

[2021-02-25 16:14] iamromec commented on #149
Hello Razorpay? It's already close to March! Will you care enough to update us on this?

[2021-02-26 07:51] vivekshindhe commented on #150
@jdpsah.   Apologies for getting back late to you on this. We weren't able to reproduce this issue on our side. If you are still facing this, we can get on a call and solve this out.

[2021-02-26 08:49] sumedht commented on #150
@jdpsah Need some details like which SDK version ur facing this issue? is it with update to some version or started facing randomly?

[2021-02-27 15:14] sumedht commented on #150
@jdpsah we will need the above details from ur side so we can resolve this.

[2021-02-27 16:04] jdpsah commented on #150
The sdk version which I have used is cordova 9, sdk api- 29

On Sat, 27 Feb 2021 at 8:44 PM, Sumedh <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2021-03-01 05:31] sumedht commented on #150
@jdpsah I mean Razorpay's Cordova plugin version. Is it the latest one?

[2021-03-01 06:01] Nautiyalsachin commented on #149
Hi @iamromec, we are working on this, capacitor plugin is in development right now and very soon we will be releasing it officially. Please give us some time as we want to make sure that it should work on all platforms.

[2021-03-03 13:41] sumedht commented on #150
@jdpsah can u plz provide the above detail so we can check with specific version

[2021-03-07 10:38] kaurrJaspreet commented on #149
Any Update on same?
Actually, I am also totally stuck on this issue for last two weeks.
When are you planning to release the capacitor support?
Please update us on it, otherwise we plan to switch on any other payment method.
Anyone else can recommend any other payment method which can work for Ionic capacitor for android and ios

[2021-03-08 06:29] sumedht commented on #149
@kaurrJaspreet We are in the last stage of the release of out capacitor plugin. It is expected to be released on 12th Mar. Apologies to make u wait for this.

[2021-03-08 08:05] iamromec commented on #149
@sumedht Thanks. We are waiting for this. Please let us know when it goes live. Thanks, again.

[2021-03-09 07:40] Nautiyalsachin commented on #150
Closing this issue due to inactivity, feel free to re-open or add more comments here.

[2021-03-09 07:40] #150 closed

[2021-03-16 05:33] sumedht commented on #149
@kaurrJaspreet @iamromec We have updated plugin [here](https://github.com/razorpay/razorpay-capacitor/tree/plugin)

[2021-03-16 05:33] #149 closed

[2021-03-17 03:02] iamromec commented on #149
@sumedht Thanks, but unable to install the new plugin. Please check the open issue [](https://github.com/razorpay/razorpay-capacitor/issues/2).

[2021-07-05 07:44] Himanshu-Mishr opened #152 "Upgrade Android SDK `com.razorpay:checkout`"
### Description
I see `com.razorpay:checkout` is [hardcoded to `1.6.6`](https://github.com/razorpay/razorpay-cordova/blob/master/plugin.xml#L28). But new Android SDK updates are available on https://mvnrepository.com/artifact/com.razorpay/checkout. Can we upgrade repo to accommodate new fixes?

[2021-07-05 10:30] vivekshindhe commented on #152
@Himanshu-Mishr Yes, we'll updating that in a few days. Thank you.

[2021-07-10 13:40] rajnishp commented on #38
Hi,
Stuck here , Any help would be appreciated

Ionic Info output :

`Ionic CLI                     : 5.4.16 (/opt/homebrew/lib/node_modules/ionic)
   Ionic Framework        : @ionic/angular 5.6.10
   @angular-devkit/build-angular : 0.803.29
   @angular-devkit/schematics    : 8.3.29
   @angular/cli                : 8.3.29
   @ionic/angular-toolkit        : 2.3.3`

Cordova:

   `Cordova CLI       :

[2021-07-11 19:54] vivekshindhe commented on #38
@rajnishp Try deleting the derived data folder.

[2021-07-13 14:23] rajnishp commented on #38
Hi,
In my case deriveddata location is as below
`~/Library/Developer/Xcode/DerivedData`

Even after deleting it results in same error as above.

After running command `ionic cordova build ios` it again generating `DerivedData` folder

I cloned from repo [https://github.com/razorpay/razorpay-cordova-sample-app.git](url)  and try to run `rzp-ionic-5-example` in M1 chip mac,

[2021-07-13 14:23] rajnishp commented on #38
Hi,
In my case deriveddata location is as below
`~/Library/Developer/Xcode/DerivedData`

Even after deleting it results in same error as above.

After running command `ionic cordova build ios` it again generating `DerivedData` folder

I cloned from repo [https://github.com/razorpay/razorpay-cordova-sample-app.git](url)  and try to run `rzp-ionic-5-example` in M1 chip mac,

[2021-07-20 14:55] sumedht commented on #152
@Himanshu-Mishr Updated to latest native version of SDK

[2021-07-20 14:55] #152 closed

[2021-07-21 07:36] ravimallya commented on #150
Hello,

I'm also having strange issues while debugging in Android. I can see that the main activity is not getting reinitiated properly after successful payment and the checkoutActivity not killed, which results in inactivity of the mainActivity. We can't even get the activity in chrome devices to inspect. We have had to force stop the app to get this main activity reinitiated.

While going throug

[2021-07-21 14:32] ravimallya opened #153 "Cordova Ionic 5.5 issues"
## Description

I'm having strange issues while debugging in Android. I can see that the main activity is not getting reinitiated properly after successful payment and the checkoutActivity not killed, which results in inactivity of the mainActivity. We can't even get the activity in chrome devices to inspect. We have had to force stop the app to get this main activity reinitiated.

## Razorpay Pac

[2021-07-26 16:21] vivekshindhe commented on #153
@ravimallya Hello, I would suggest you look into the example [repo]( https://github.com/razorpay/razorpay-cordova-sample-app/tree/master/rzp-ionic-5-example) for ionic 5. I'm pretty sure you're doubts will be cleared there directly.

[2021-07-27 08:58] ravimallya commented on #153
I used the same repo and here's a sample app for your testing purposes.

[2021-07-29 09:23] NAgrawal1798 commented on #91
When we pay through upi mode after successful payment upi razorpay loading screen got stuck and after closing razporpay screen it shows payment status screen

[2021-08-02 07:07] vivekshindhe commented on #91
@NAgrawal1798 will need a bit more info here. When you say it's happening on webview what exactly does that mean?

[2021-10-21 10:41] Himanshu-Mishr opened #154 "Update to latest available Android SDK"
Hi @sumedht, I see a new version of Android SDK v1.6.14 is available, but the plugin is pointing to v1.6.10.

We are interested in this feature : https://razorpay.com/docs/payments/payments/payment-methods/cards/google-pay/standard-integration/. I see from v1.6.12 has it. We cannot use it due to this restriction.

Can we just go ahead if there is a `patch` update available, by adding this SDK from

[2021-11-03 06:59] vivekshindhe commented on #154
@Himanshu-Mishr You can definitely go ahead with that. No issues, do update to version 1.6.15 for the same. Thank you. Closing the ticket now.

[2021-11-03 06:59] #154 closed

[2021-11-03 07:02] vivekshindhe commented on #153
@ravimallya We do not have any control over the android lifecycle at that point. The MainActivity you are referring to is from the User's application itself. We give back control. but nothing else. We also destroy our activity. Regarding the detached state. That is the cache and hence it shows that. Closing the ticket due to inactivity. Please feel free to comment here to reopen, or create another

[2021-11-03 07:02] #153 closed

[2021-11-04 21:27] D41152368 opened #155 "Build Failing Execution failed for task ':app:processDebugResources'. on Apache Cordova"
Installed platforms:
  android 7.1.4

Cordova Version
8.1.2 (cordova-lib@8.1.1)

Using Mac OS (Mojave) 10.14.6

Not using any Android Studio . only using CMD

Build is only failing only after adding razorpay cordova plugin

[code]

[2021-11-05 04:25] vivekshindhe commented on #155
@D41152368 will need some more details here. Are you supporting version android 12? Also you can run the cmd with --scan or --debug and it'll give us more logs. This isn't much to go forward on.

[2021-12-10 06:31] vinothkumarfenfeo commented on #62
Hi @Nautiyalsachin, my project setup is ionic 6 with Vue js project so we created it using capacitor and we deployed in play store but we need to deploy in App Store but we facing the build issue because of "Razorpay/Razorpay-Swift.h' file not found". is the only solution is migrating to Cordova? Cordova user also facing same problem "Razorpay/Razorpay-Swift.h' file not found". how to fix this. I

[2021-12-10 06:57] vivekshindhe commented on #62
@vinothkumarfenfeo apologies. Needed a bit of clarification. Your project uses capacitor? If so please use the razorpay-capacitor plugin to integrate with the project.

[2021-12-10 07:34] vinothkumarfenfeo commented on #62
@Nautiyalsachin Thanks for your reply, I'm using "com.razorpay.cordova": "^1.4.12" plugin , I think there is no specific node module for razorpay-capacitor. is there any possible to fix it in Xcode?

[2021-12-10 07:47] vivekshindhe commented on #62
@vinothkumarfenfeo we do have a capacitor based razorpay plugin. I would suggest that you migrate to that to avoid these problems. You can see it here

[Capacitor Integration](https://razorpay.com/docs/payment-gateway/capacitor-integration/)

[2022-01-06 17:49] asif986 commented on #130
Using the Ionic cordova project in razorpay integration i got solution. for @Nautiyalsachin  modified the some steps.
1. update the razorpay pod. go to the podfile  update this line.

[2022-01-27 16:03] bhar-subhajit commented on #23
Hi @karanayyana, Did you find the solution? I am also facing the same issue.

[2022-01-27 16:22] bhar-subhajit opened #158 "error: cannot find symbol import com.razorpay.CheckoutActivity"
## Description
CheckoutActivity, Checkout, PaymentResultWithDataListener, ExternalWalletListener, PaymentData classes were not found in main.java

## Razorpay Package Version :
"git+https://github.com/razorpay/razorpay-cordova.git"

## Java and Gradle Version (android) :
Java Version: OpenJDK 1.8.0
Gradle Version: 6.7.1

### What you did:
While trying to build android apk, I got the following Erro

[2022-01-28 12:00] simarng opened #159 "Payment not auto captured, payment rollbacked after some seconds"

[2022-03-03 10:36] caresoftin opened #160 "fatal error: 'Razorpay/Razorpay-Swift.h' file not found"
## Description

I am compiling my IOS cordova application using volt.build online tool and getting error during compilation.

## Razorpay Package Version :
Razorpay Package Version : 1.4.14

## Xcode Version (iOS) :
Xcode 13.2.1
Build version 13C100

### What you did:
I am compiling my IOS cordova application using volt.build online tool and getting error during compilation.

### What happened:

g

[2022-03-15 21:26] gwhenne opened #161 "Unable to get Cordova sample working"
## Description

I'm unable to do a Cordova build using the instructions in the Readme. The error messages appear below.

## Razorpay Package Version :
"com.razorpay.cordova": "github:razorpay/razorpay-cordova",

## Xcode Version (iOS) :
Version 13.2.1 (13C100)

### What you did:

I performed the steps below.

### What happened:

[code]
## Steps To Reproduce
Provide a detailed list of steps that re

[2022-03-29 05:50] caresoftin commented on #161
Dear Partner,
Sincere apologies for the delay and inconvenience caused. The cordova plugin is wrapper around native SDK, so it doesn't work with the tools like vold.build which doesn't support native modules.

[2022-04-22 13:02] anonrootkit commented on #15
using "image" from client, issue still persists.

[2022-07-23 14:54] krivri1989 commented on #144
An arrogant Razorpay.

[2022-08-08 07:33] skadimoolam opened #163 "Adding support for Capacitor 4"
Hi there,

Currently, the dependency is locked to Capacitor 3.
It would be great if it could be updated to Cap 4 also.

[2022-08-20 05:29] ChandraTejoma commented on #160
Any update on this issue? I am seeing the same problem and don't have a solution for it yet.

[2022-09-01 13:43] deepak-glad commented on #91
I also facing same issue !
Please help
@ShikharRazorPay